
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#0378C6"> Correction Container</font> Receiving dari TPK </span><br/><br/>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="dataForm" name="dataForm" action="<?=HOME?><?=APPID?>/save_rec_tpk_do" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption">Nomor Request Uster</td>
            <td class="form-field-caption"> :</td>
            <td> <input type="text" id="NO_REQ" size="30" name="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>	
    	</tr>
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		<!--
		<tr>
        	<td>Receiving Dari</td>
            <td> : </td>
            <td> <select id="REC_DARI" name="REC_DARI" width="40"  class="kdemkl " onchange="set_voy()" >
				  <option  value="TPK">TPK</option>
				  <option value="LUAR">LUAR</option>
				 </select> 
			</td>
    	</tr>
		-->
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		
		<tr>
        	<td class="form-field-caption">Nomor DO</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_DO" size="20" name="NO_DO" value="{$row_request.NO_DO}" />
			<!--	<input type="hidden" id="NO_DO_hide" size="40" name="NO_DO_hide" value="{$row_request.NO_DO}" /> -->
			</td>
    	</tr>
		<tr>
        	<td class="form-field-caption">Nomor BL</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_BL" size="20" name="NO_BL"  value="{$row_request.NO_BL}"  />  </td>
			<!--	<input type="hidden" id="NO_BL_hide" size="40" name="NO_BL_hide" value="{$row_request.NO_BL}"  /> -->
    	</tr>
		<tr>
        	<td class="form-field-caption">Nomor SPPB</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_SPPB" size="20" name="NO_SPPB" value="{$row_request.NO_SPPB}"  />  </td>
    	</tr>
		<tr>
			<td class="form-field-caption">Tanggal SPPB</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="TGL_SPPB"  name="TGL_SPPB" value="{$row_request.TGL_SPPB}" /></td>
		</tr>
		
		<tr>
        	<td class="form-field-caption"></td>
            <td class="form-field-caption"> </td>
            <td> <input type="hidden" readonly="readonly" name="CONSIGNEE" size="40" id="CONSIGNEE" value="{$row_request.CONSIGNEE}" style="background-color:#FFFFCC;"/> <input type="hidden" name="KD_CONSIGNEE" id="KD_CONSIGNEE" value="{$row_request.KD_CONSIGNEE}" /> </td>
    	</tr> 
		<tr>
        	<td class="form-field-caption">PENUMPUKAN OLEH</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" readonly="readonly" name="PENUMPUKAN_OLEH" id="PENUMPUKAN_OLEH" value="{$row_request.PENUMPUKAN_OLEH}" style="background-color:#FFFFCC;"/> <input type="hidden" name="KD_PENUMPUKAN_OLEH" id="KD_PENUMPUKAN_OLEH" value="{$row_request.KD_PENUMPUKAN_OLEH}" /> </td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
        <tr>
       		<td class="form-field-caption">Keterangan</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="KETERANGAN" id="KETERANGAN" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
        </tr>
	</table>
    </center>

	<center>
    
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    <div id="loading">
	</div>
    </div>
    
	</center>
	<div> <a class='link-button' id="submitForm" onclick="submitManual();"> <img border="0" src="<?=HOME?>/images/valid.png"> SIMPAN</a></div>
	</form>
</fieldset>

<script>
function submitManual(){
	$('#dataForm').submit();
}
 
$(function() {	
	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list_rec_tpk?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
		
	});
	
	$("#TGL_SPPB" ).datepicker();
	$("#TGL_SPPB" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$("#TGL_SPPB").val('{$row_request.TGL_SPPB}');
});
</script>
