<style>
.trstyle{
	font-family:Tahoma; 
	font-size:16pt; 
	height:25px; 
	text-align:center;
	background-color:#FFFFFF;
}
.trhead{
	text-align:center;
	height:25px; 
	background-color:#006699;
	color:#FFFFFF;
	font-family:Tahoma; 
	font-family:Tahoma; 
	font-size:16pt;
}


</style><style>
body {
	padding:20px 20px;
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
	
	
/* tab pane styling */
.panes div {
	display:none;		
	padding:15px 10px;
	border:1px solid #999;
	border-top:0;
	height:180px;
	font-size:14px;
	background-color:#fff;
}
/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #666;	
	height:30px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(http://118.97.72.37/petikemas/images/blue.png) no-repeat -420px 0; 
	font-size:11px;
	display:block;
	height: 30px;  
	line-height:30px;
	width: 135px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;	
	color:#fff;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;		
	cursor:default !important; 
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}
</style>

<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Register</font> Container MLO</span><br/><br/>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	
    <table class="form-input" style="margin: 30px 30px 30px 30px;"  >
    	<tr>
            <td  class="form-field-caption"> No. Container </td>
            <td> : </td>
            <td> <input style="font-size:26px; font-weight:bold;" id="NO_CONT" size="12" class="suggestuwriter" type="text" maxlength="11" value="" /> </td>
        </tr>       
        <tr>
        	<td colspan="7"><a class="link-button" onclick="register();"><img src='images/tambah.png' border="0"> Set Container MLO</a></td>
        </tr>
	</table>
    
    <div id="container_list" style="margin: 10px 10px 10px 10px;">
    
    </div>
</fieldset>
<script>
$(function(){
 $("#NO_CONT" ).autocomplete({
			minLength: 3,
			source: "{$HOME}{$APPID}.auto/container",
			focus: function( event, ui ) {
				$( "#NO_CONT" ).val( ui.item.NO_CONTAINER );
				return false;
			},
			select: function( event, ui ) {
				$( "#NO_CONT" ).val( ui.item.NO_CONTAINER );
				$( "#SIZE" ).val( ui.item.SIZE_);
				$( "#TYPE" ).val( ui.item.TYPE_);
				
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			return $( "<li style='text-align:left'></li>" )
				.data( "item.autocomplete", item )
				.append( "<a>" + item.NO_CONTAINER + "<br/> "+item.SIZE_+" "+item.TYPE_+"</a>" )
				.appendTo( ul );
		};
		
  var url = '<?=HOME?><?=APPID?>/container_list #list';
  $("#container_list").load(url, function(data){
  
  });
});
function register(){
	var url = '<?=HOME?><?=APPID?>/container_list #list';
	$('#container_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	var no_container = $("#NO_CONT").val();
	$.post('<?=HOME?><?=APPID?>/register_mlo',{no_container : no_container}, function(data){
		if(data == 'ok'){
			alert('Container MLO Registered');
			$("#container_list").load(url, function(data){});
		}
		else{
			alert('Register Container MLO Failed');
		}
		
	});
	$('#NO_CONT').val("");
	
}

function unregister($container){
	var url = '<?=HOME?><?=APPID?>/container_list #list';
	$('#container_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	$.post('<?=HOME?><?=APPID?>/unregister_mlo',{no_container : $container}, function(data){
		if(data == 'ok'){
			alert('Container MLO Unregistered');
			$("#container_list").load(url, function(data){});
		}
		else{
			alert('Unregister Container MLO Failed');
		}
		
	});
}
</script>
