<style>
.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top:20px;
}
.main_side{
	width:100%;
	float:left;
	text-align:left;
}

</style>

<script type="text/javascript">
		$(function() {
		
						$( "#tabspage" ).tabs();	
						/*$('a[rel*=downloadr]').downloadr();*/
});


</script>
   
<script>

<!------------------- load detail shift ------------>
$(function() {
		
						$( "#tabspage" ).tabs();
						//setInterval($('#working').html('<img src="<?=HOME?>images/loadingbox.gif" />'),1000);	
						$("#glc01").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC01 #workingtime_list");
						$("#glc02").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC02 #workingtime_list");
						$("#glc03").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC03 #workingtime_list");
						$("#glc04").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC04 #workingtime_list");
						$("#glc05").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC05 #workingtime_list");
						$("#glc06").load("<?=HOME?><?=APPID?>/working?id_req={$request.ID_REQ}&remark={$remark}&alat=GLC06 #workingtime_list");				
	
});
<!------------------- load detail shift ------------>

</script>
  
   
<div class="content">
<div class="main_side">

<!------------------------------------------------------ VIEW ----------------------------------------------->
<? if($status=="SHIFT") 
   {?>

<h2><span class="graybrown">
	<img class="icon" border="0" src="images/dokumenbig.png" />
	&nbsp;<font color="#0378C6">Detail</font> Monitoring dan Sewa Alat GLC
    </span></h2>
<br/>
<form>
<table class="form-input" width="100%" border="0" cellspacing="1" cellpadding="1" style="padding:5px 5px 5px 5px;">
		<tr>
			<td width="100">NO UPER B/M</td>
			<td width="10">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td width><input type="text" name="no_uper" value={$request.NO_UPER_BM} disabled="disabled"/>
			           <input type="hidden" name="id_req" id="id_req" value={$request.ID_REQ} /></td>
            <td width="40"></td>
            <td>NO REQ</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="id_req2" id="id_req2" value={$request.ID_REQ} disabled="disabled"/></td>
		</tr>
		<tr>
			<td>PENGGUNA JASA</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="pbm" value={$request.NAMA} disabled="disabled" size="25"/></td>
            <td width="40"></td>
            <td>ETA</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="eta" id="eta" size="10" style="background-color:#E2F7F7" value={$request.ETA_DATE} readonly=readonly />&nbsp;&nbsp;&nbsp;<input type="text" name="eta_jam" id="eta_jam" size="2" maxlength="2" value={$request.ETA_JAM} style="background-color:#E2F7F7" readonly=readonly />&nbsp;:&nbsp;<input type="text" name="eta_menit" id="eta_menit" size="2" maxlength="2" value={$request.ETA_MENIT} style="background-color:#E2F7F7" readonly=readonly /></td>
		</tr>
		<tr>
			<td>VESSEL / VOYAGE</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="vessel" value={$request.NAMA_VESSEL} disabled="disabled" size="30"/> / <input type="text" name="voyage" value={$request.VOYAGE} disabled="disabled" size="8"/></td>
            <td width="40"></td>
            <td>RTA</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="rta" id="rta" size="10" style="background-color:#FFFFD6" value={$request.RTA_DATE} />&nbsp;&nbsp;&nbsp;<input type="text" name="rta_jam" id="rta_jam" size="2" maxlength="2" value={$request.RTA_JAM} />&nbsp;:&nbsp;<input type="text" name="rta_menit" id="rta_menit" size="2" maxlength="2" value={$request.RTA_MENIT} /></td>           
		</tr>
        <tr>
			<td>KADE</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="kade" value={$request.KADE} disabled="disabled" size="3"/></td>
            <td width="40"></td>
            <td width="40">ETD</td>
			<td width="10">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="etd" id="etd" size="10" style="background-color:#E2F7F7" value={$request.ETD_DATE} readonly=readonly />&nbsp;&nbsp;&nbsp;<input type="text" name="etd_jam" id="etd_jam" size="2" maxlength="2" value={$request.ETD_JAM} style="background-color:#E2F7F7" readonly=readonly />&nbsp;:&nbsp;<input type="text" name="etd_menit" id="etd_menit" size="2" maxlength="2" value={$request.ETD_MENIT} style="background-color:#E2F7F7" readonly=readonly /></td>
		</tr>
		<tr>
			<td>TERMINAL</td>
			<td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="terminal" value={$request.TERMINAL} disabled="disabled" size="3"/></td>
            <td width="40"></td>
            <td width="40">RTD</td>
			<td width="10">&nbsp;&nbsp;:&nbsp;&nbsp;</td>
            <td><input type="text" name="rtd" id="rtd" size="10" style="background-color:#FFFFD6" value={$request.RTD_DATE} />&nbsp;&nbsp;&nbsp;<input type="text" name="rtd_jam" id="rtd_jam" size="2" maxlength="2" value={$request.RTD_JAM} />&nbsp;:&nbsp;<input type="text" name="rtd_menit" id="rtd_menit" size="2" maxlength="2" value={$request.RTD_MENIT} /></td>
		</tr>
</table>
<br/>
<div id="tabspage" class="tabss">
				<ul>
				<li><a href="#tabspage-1">GLC01</a></li>
				<li><a href="#tabspage-2">GLC02</a></li>
                <li><a href="#tabspage-3">GLC03</a></li>
                <li><a href="#tabspage-4">GLC04</a></li>
				<li><a href="#tabspage-5">GLC05</a></li>
				<li><a href="#tabspage-6">GLC06</a></li>
				</ul>
				<div id="tabspage-1">
                    <div id="glc01" align="center"></div>
				</div>
				<div id="tabspage-2">
                    <div id="glc02" align="center"></div>
				</div>
                <div id="tabspage-3">
                    <div id="glc03" align="center"></div>
				</div>
                <div id="tabspage-4">
                    <div id="glc04" align="center"></div>
				</div>
				<div id="tabspage-5">
                    <div id="glc05" align="center"></div>
				</div>
				<div id="tabspage-6">
                    <div id="glc06" align="center"></div>
				</div>
</div>
<br/>
<a class="link-button" style="height:25" href="<?=HOME?><?=APPID?>">
      <img border="0" src="images/reset.png" />
      Back</a>
</form>
<br/>
<? }
    else if($status=="NON SHIFT")
   {
    ?>

	
	
<? } ?>
<!------------------------------------------------------ VIEW ----------------------------------------------->
</div>
</div>