<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Correction Container</font> Delivery - SP2</span><br/><br/>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="dataForm" name="dataForm" action="<?=HOME?><?=APPID?>/save_del_tpk_do" method="POST">
	<center>
     <table class="form-input" style="border:1px; margin: 30px 30px 30px 30px;" >
    	</tr>
            <td width="150" class="form-field-caption">No Request</td>
            <td> : </td>
            <td><input type="text" readonly="readonly" name="NO_REQ"  id="NO_REQ" value="{$row_request.NO_REQUEST}"/> </td>
            <td width="100"></td>
            <td  class="form-field-caption">JENIS REPO</td>
            <td> : </td>
            <td> <input type="text" readonly value="{$row_request.JN_REPO}"/></td>
    	</tr>
       <tr>
            <td  class="form-field-caption">Vessel/Voyage</td>
            <td> : </td>
            <td><input type="text" readonly="readonly" name="VESSEL" size="40" id="VESSEL" value="{$row_request.VESSEL}"/>
                <input type="text" readonly="readonly" size="5" name="VOYAGE" id="VOYAGE" value="{$row_request.VOYAGE}"/>
            </td>
            <td width="100"></td>
            <td  class="form-field-caption">PELABUHAN ASAL</td>
            <td> : </td>
            <td> <input type="text" name="peb" style="width:100px" value="{$row_request.ASAL}" readonly />
    	</tr>
        <tr>
            <td  class="form-field-caption">NO RO</td>
            <td> : </td>
            <td> <input type="text" readonly value="{$row_request.NO_RO}"/></td>
            <td width="100"></td>
            <td  class="form-field-caption">PELABUHAN TUJUAN</td>
            <td> : </td>
            <td> <input type="text" name="peb" style="width:100px" value="{$row_request.TUJUAN}" readonly/>
        </tr>
    	<tr>
            <td  class="form-field-caption">E.M.K.L</td>
            <td> : </td>
            <td> <input type="text" readonly="readonly" name="EMKL" size="40"id="EMKL" value="{$row_request.NAMA_EMKL}"/> <input type="hidden" name="ID_EMKL" id="ID_EMKL" /> </td>
            <td width="100"></td>
            <td  class="form-field-caption">Keterangan</td>
            <td> : </td>
            <td> <input type="text" name="keterangan" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
    	</tr>
            <td width="150" class="form-field-caption"> ETD </td>
            <td> : </td>
            <td width="300" colspan="4"><input type="text" name="tgl_dev"  id="tgl_dev"/> </td>
    	</tr>
	</table>
    </center>

	<center>
    <div id="cont_list" style="margin: 10px 10px 10px 10px;">
    
    </div>
    
	</center>
	<div> <a class='link-button' id="submitForm" onclick="submitManual();"> <img border="0" src="<?=HOME?>/images/valid.png"> SIMPAN</a></div>
</form>
</fieldset>

<script>
function submitManual(){
	$('#dataForm').submit();
}

$(function() {	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list_del_tpk?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
	}); 	
	$('#tgl_dev').datepicker({
        dateFormat: 'dd-mm-yy',
        numberOfMonths: 1,
        onSelect: function(selected,evnt) {
             $('.etd').val(selected);
        }
    });
}); 

</script>
