<fill src="req" var="rows">
<div style="width:767px; height:998px; border:1px solid #fff; font-family:Arial">
<table width="100%" cellspacing="0" cellpadding="0" style="margin:0px; margin-top:5px; margin-bottom:10px; font-size:12px">
<tbody>
<tr>
<td height="30" colspan="7"></td>
</tr>
<tr>
<td width="15%">&nbsp;</td>
<td width="39%">&nbsp;</td>
<td width="14%" colspan="3"></td>
<td width="17%" align="right"></td>
<td width="17%">&nbsp;&nbsp; </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td colspan="2" align="center">DELIVERY TPFT</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td>&nbsp;</td>
<td align="center"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td align="right">NO REQ :</td>
<td>&nbsp; {$rows.ID_REQ}</td>
</tr>
<tr>
<td height="82" colspan="7">&nbsp;</td>
</tr>
<tr>
<td height="20">&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td style="padding-left:45px" colspan="2"></td>
</tr>
<tr>
<td height="55">&nbsp;</td>
<td>
<b style="font-size:24px">{$rows.ID_CONTAINER}</b>
</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">
<p align="center" style="font:Arial; font-size:22px">[O P U S S Y S T E M]</p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>{$rows.UKURAN} / {$rows.TYPE} / {$rows.STATUS}</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>{$rows.VESSEL}/{$rows.VOYAGE}</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">&nbsp;</td>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">{$rows.EMKL}-{$rows.ID_YD}</td>
<td colspan="2">{$rows.TGL_START_STACK}</td>
</tr>
<tr>
<td height="15">&nbsp;</td>
<td>{$rows.EMKL}-{$rows.ID_YD}</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">{$rows.TGL_END_STACK}</td>
</tr>
<tr>
<td height="15">&nbsp;</td>
<td colspan="6"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="text-transform:uppercase" colspan="6"></td>
</tr>
<tr>
<td height="52">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td align="left" colspan="3">
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="3">&nbsp;</td>
<td colspan="2"></td>
</tr>
<tr>
<td height="39">&nbsp;</td>
<td>&nbsp;</td>
<td colspan="2">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td colspan="2">&nbsp;</td>
<td colspan="3">
&nbsp;&nbsp;&nbsp; SARKANI
<br>
&nbsp;&nbsp;&nbsp; NIPP : 267035247
</td>
</tr>
</tbody>
</table>
</div>
<div style="margin-top:100px;width:767px; border:0px solid"></div>
</fill>