<html>
<style type="text/css">
A:hover {text-decoration: none; color: blue; font-weight:bold;}
</style>
<center>
	<table width="90%" border=1>
		<tr>
			<th> NAMA</th>
			<th> ALAMAT</th>
			<th> TANGGAL LAHIR</th>
			<th> GENDER</th>
			<th> KOTA</th>
			<th> HOBI</th>
		</tr>
		<fill src='rowprofile' var='row'> <!--sama dengan printah foreach di php -->
		<alt var='bg' list='#f9f9f3,#ff9900'/>
		<tr bgcolor="{$bg}">
			<td> <a href="main/viewProfile?id={$row.ID}">{$row.NAMA}</a> </td>
			<td> {$row.ALAMAT}</td>
			<td> {$row.TANGGAL_LAHIR}</td>
			<td> {$row.GENDER}</td>
			<td> {$row.NAMA_KOTA} </td>
			<td> {$row.NAMA_HOBI} </td>
		</tr>
		</fill>
	</table>
</center>
<html>