<style>
.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top:20px;
}
.main_side{
	width:100%;
	float:left;
	text-align:left;
}
.rightside{ 
	width:25%;
	float:right;
	text-align:center;
}
.ganjil {
  background-color: #FFF; /* Warna untuk baris ganjil */
}
.genap {
  background-color: #bbe3fe; /* Warna untuk baris genap */
}   

</style>

<script type="text/javascript">
jQuery(function() {
 jQuery("#nota_receiving").jqGrid({
	url:'<?=HOME?>datanya/data?q=nota_receiving',
	mtype : "post",
	datatype: "json",
	colNames:['','No Nota','No Request','EMKL','Vessel','Jumlah Container','Status'], 
	colModel:[
		{name:'aksi', width:75, align:"center",sortable:false,search:false},
		{name:'id_nota',index:'id_nota', width:140, align:"center"},
		{name:'id_req',index:'id_req', width:60, align:"center"},
		{name:'emkl',index:'emkl', width:200, align:"center"},
		{name:'vessel',index:'vessel', width:200, align:"center"},
		{name:'jum_cont',index:'jum_cont', width:80, align:"center"},
		{name:'status',index:'status', width:100, align:"center"}
	],
	rowNum:6,
	width: 865,
	height: "100%",//250

	rowList:[10,20,30,40,50,60],
	loadonce:true,
	rownumbers: true,
	rownumWidth: 15,
	gridview: true,
	pager: '#pg_nota_receiving',
	viewrecords: true,
	shrinkToFit: false,
	caption:"Nota Receiving"
 });
  jQuery("#nota_receiving").jqGrid('navGrid','#pg_nota_receiving',{del:false,add:false,edit:false,search:false}); 
 jQuery("#nota_receiving").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
 
});
</script>

<div class="content">
	<div class="main_side">
	<p>
	<h2> <img src="<?=HOME?>images/delivery.png" height="5%" width="5%" style="vertical-align:middle"> Billing Receiving </h2></p>
	
	<p><br/>
	  </p>
	<p><br/></p>
	<table id='nota_receiving' width="100%"></table> <div id='pg_nota_receiving'></div>

	<br/>
	<br/>
	</div>
</div>