<html>
<head>
<title>LOGIN BILLING</title>
<base href="{$HOME}" />
<link type="text/css" href="css/default.css" rel="stylesheet" />
<link type="text/css" href="css/application.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/jquery.slidemenu.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.20.custom.css" />
<link href="js/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="js/downloadr/downloadr.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="css/jscalendar.css" rel="stylesheet" type="text/css" />

{$updater}
</head>
<body >
<br/>
   <table width="100%" class="aa" cellspacing="0" cellpadding="0">
      <tr>
        <td></td>
        <td><div align="right"><b><font color="#0482D5">{$username}</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></div>
        {$muatan} </td>
        <td></td>
      </tr>
    </table>
  &nbsp; 
</body>
</html>