<pdf paper="a4" portrait lmargin="5" rmargin="5" >
<reportbody>
<div style="font-family:Arial; font-size:9pt;">

<table border="0">
<tr>
	    <td width="250"></td>
		<td width="400" align="center">CABANG PELABUHAN TANJUNG PRIOK</td>
</tr> 
<tr>
	    <td width="250"></td>
		<td width="400" align="center">An.DEPUTI TERMINAL 3</td>
</tr>       
<tr>  
	    <td width="250">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>  
		<td width="400" align="center"><div> MANAGER OPERASI</div></td>   
</tr> 	
<tr>
	    <td width="250"></td> 
		<td width="400" align="center">&nbsp;</td>    
</tr> 
<tr>
	    <td width="250"></td> 
		<td width="400" align="center">&nbsp;</td>    
</tr>
<tr>  
	    <td width="250"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
		<td width="400" align="center"><div>DJOKO SANTOSO </div> <div>NIPP : 273116430</div></td>    
</tr>
 

</table>  

</div>
</reportbody>
</pdf>

