
 
<div class="form-fieldset" style="margin: 5px 5px 5px 5px">
	<table border=0 width="100%">
    	<tr>
        	<td align="center">
            	<fieldset > <h1>CETAK NOTA</h1><br/><hr/> 
                	<div style="background-color:#fff; height:700px; border:thin #00F groove">
                    	RINCIAN NOTA
						<table>
						<tr>
                    <td COLSPAN="32" align="left"><b>PT. PELABUHAN INDONESIA II (PERSERO)</b></td>
                </tr>
                <tr>
                    <td COLSPAN="32" align="left"><b>CABANG PONTIANAK</b></td>
                </tr>
				<tr>
					<td colspan="26"></td>
					<td colspan="5" align="right"><b>{$row_nota.NO_NOTA}</b></td>
				</tr>
				<tr><td></td></tr>
				<tr>
					<td colspan="17"></td>
					<td colspan="4" align="left">No. Faktur</td>
					<td colspan="1" align="right">:</td>
					<td colspan="10" align="left">{$row_nota.NO_FAKTUR}<td>
				</tr>
				<tr>
					<td colspan="17"></td>
					<td colspan="4" align="left">No. Doc</td>
					<td colspan="1" align="right">:</td>
					<td colspan="10" align="left">{$row_nota.NO_REQUEST}</td>
				</tr>
				
				<tr>
					<td COLSPAN="17"></td>
					<td COLSPAN="4" align="left">Tgl.Proses</td>
					<td colspan="1" align="right">:</td>
					<td COLSPAN="10" align="left">{$row_nota.TGL_NOTA}</td>
				</tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr>
					<td COLSPAN="17"></td>
					<td COLSPAN="15" align="left"><font size="2">PENUMPUKAN / GERAKAN ( RECEIVING )</font></td>
				</tr>
               <tr><td></td></tr>
				<tr>
					<td colspan="6"></td>
					<td colspan="11" align="left">{$row_nota.EMKL}</td>
					<td ></td>
				</tr> 
				<tr>
					<td colspan="6"></td>
					<td colspan="11" align="left">{$row_nota.NPWP}</td>
					<td ></td>
				</tr>
				<tr>
					<td colspan="6"></td>
					<td colspan="11" align="left">{$row_nota.ALAMAT}</td>
					<td ></td>
				</tr>
                   
                <tr><td></td></tr><tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr>
					<td colspan="3"></td>
					<td colspan="5" ><b>KETERANGAN</b></td>
					<td colspan="2" align="center"><b>BOX</b></td>
					<td colspan="2" align="center"><b>SZ</b></td>
					<td colspan="2" align="center"><b>TY</b></td>
					<td colspan="2" align="center"><b>ST</b></td>
					<td colspan="2" align="center"><b>HZ</b></td>
					<td colspan="5" align="right"><b>TARIF</b></td>
					<td colspan="2" align="right"><b>VAL</b></td>
					<td colspan="5" align="right"><b>JUMLAHs</b></td>
					<td colspan="2"></td>
				</tr>
				<tr><td colspan="32">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
				
				<fill src="row_trf_brsh" var="rows">
				<alt var='bg' list='#f9f9f3,#ffe'/>
				<tr>
					<td colspan="3"></td>
					<td colspan="5" >KEBERSIHAN</td>
					<td colspan="2" align="center">{$rows.JUM}</td>
					<td colspan="2" align="center">{$rows.SIZE_}</td>
					<td colspan="2" align="center">{$rows.TYPE_}</td>
					<td colspan="2" align="center">{$rows.STATUS}</td>
					<td colspan="2" align="center">{$rows.HZ}</td>
					<td colspan="5" align="right">{$rows.TARIFKU}</td>
					<td colspan="2" align="right">IDR</td>
					<td colspan="5" align="right">{$rows.TOTAL}</td>
					<td colspan="2"></td>
				</tr>
				
				</fill>
				<fill src="row_trf_lo" var="rows">
				<alt var='bg' list='#f9f9f3,#ffe'/>
				<tr>
					<td colspan="3"></td>
					<td colspan="5" >LIFT OFF</td>
					<td colspan="2" align="center">{$rows.JUM}</td>
					<td colspan="2" align="center">{$rows.SIZE_}</td>
					<td colspan="2" align="center">{$rows.TYPE_}</td>
					<td colspan="2" align="center">{$rows.STATUS}</td>
					<td colspan="2" align="center">{$rows.HZ}</td>
					<td colspan="5" align="right">{$rows.TARIFKU}</td>
					<td colspan="2" align="right">IDR</td>
					<td colspan="5" align="right">{$rows.TOTAL}</td>
					<td colspan="2"></td>
				</tr>
				
				</fill>
				<fill src="row_trf" var="rows">
				<alt var='bg' list='#f9f9f3,#ffe'/>
				
				<tr>
					<td colspan="3"></td>
					<td colspan="5" >PENUMPUKKAN MASSA I</td>
					<td colspan="2" align="center">{$rows.JUM}</td>
					<td colspan="2" align="center">{$rows.SIZE_}</td>
					<td colspan="2" align="center">{$rows.TYPE_}</td>
					<td colspan="2" align="center">{$rows.STATUS}</td>
					<td colspan="2" align="center">{$rows.HZ}</td>
					<td colspan="5" align="right">{$rows.TARIFKU}</td>
					<td colspan="2" align="right">IDR</td>
					<td colspan="5" align="right">{$rows.TOTAL}</td>
					<td colspan="2"></td>
				</tr>
				</fill>
				
                <tr><td colspan="32">-------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
				
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Discount :</td>
                    <td colspan="7" align="right">{$row_discount.DISCOUNT}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Administrasi :</td>
                    <td colspan="7" align="right">{$row_adm.ADM}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Dasar Pengenaan Pajak :</td>
                    <td colspan="7" align="right">{$row_tot.TOTAL_ALL}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Jumlah PPN :</td>
                    <td colspan="7" align="right">{$row_ppn.PPN}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Bea Materai :</td>
                    <td colspan="7" align="right">{$row_materai.MATERAI}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Jumlah Dibayar :</td>
                    <td colspan="7" align="right">{$row_bayar.TOTAL_BAYAR}</td>
					<td colspan="2"></td>
				</tr>
				
               
						</table>
                    </div>
                </fieldset>
            </td>
		</tr>
    </table>
 </div>
 
 <fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; height:100px; text-align:center; vertical-align:middle" id="status_lunas">
 	<?php
    	if($row_nota["LUNAS"] == "NO")
        {
    ?>
	    <input type="button" value=" SET LUNAS " onClick="set_lunas('{$no_nota}')" />
    <?php
    	}
        else
        {
    ?>
    	<h1><font color='#0000FF'>LUNAS</font></h1>
		 <a href="<?=HOME?><?=APPID?>.print/print_pdf?no_req={$row_nota.NO_REQUEST}&no_nota={$row_nota.NO_NOTA}" target="_blank" > PRINT </a>
    <?php
    	}
    ?>
	
	
	
 </fieldset>
 
 