<style>
.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top:20px;
}
.main_side{
	width:100%;
	float:left;
	text-align:left;
}
.rightside{ 
	width:25%;
	float:right;
	text-align:center;
}
.ganjil {
  background-color: #FFF; /* Warna untuk baris ganjil */
}
.genap {
  background-color: #bbe3fe; /* Warna untuk baris genap */
}   

</style>

<script type="text/javascript">
  $(document).ready(function() {
    $("tr:odd").addClass("ganjil");
    $("tr:even").addClass("genap");
  }); 
</script>

<div class="content">
	<div class="main_side">
	<h2>Master Recipients Email</h2>
	<p><br/>
	  <a href="<?=HOME?>maintenance.master.vessel/add" class="link-button">
      <img border="0" src="images/tambah.png" />
      Tambah Recipients</a>	  </p>
	<p><br/>
	  </p>
	<p><br/></p>
	<table id="zebra" border="1" bordercolor="#FFFFFF" width=100% style="border-collapse:collapse">
	  <tr>
		<th height="34">NO</th>
		 <th>NAME</th>
        <th>EMAIL ADDRESS</th>
		<th>GROUP EMAIL</th>
		<th>ACTION</th>
     </tr>
     	<? $no=1; ?>
		<fill src="group" var="row">
		<tr>        
            <td align="center" height="34">{$no}</td>
			<td align="left"><b> &nbsp &nbsp {$row.NAMA}</b></td>
			<td align="left"><b> &nbsp &nbsp{$row.EMAIL}</b></td>
			  <td align="left"> &nbsp &nbsp {$row.GROUP_}</td>
            <td align="center"><a href="<?=HOME?>maintenance.master.recipients_email/edit?kode={$notas.KODE_KAPAL}"><img src="<?=HOME?>images/edit.png" />Edit </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?=HOME?>maintenance.master.recipients_email/delete?kode={$notas.KODE_KAPAL}"><img src="<?=HOME?>images/ico_delete.gif" />delete</a></td>
		</tr>
        <? $no++; ?>
		</fill>
	</table>
	<br/>
	<br/>
	</div>
</div>