
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#DE7E21"> <font color="#0378C6"> Correction Container</font> Stripping Petikemas </font></span>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="dataForm" name="dataForm" action="<?=HOME?><?=APPID?>/save_strp_do" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption">Nomor Request</td>
            <td> : </td>
            <td class="form-field-input"> <input type="text" name="NO_REQ" id="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>
    	</tr>
        <tr>
        	<td class="form-field-caption">Penerima / Consignee</td>
            <td> : </td>
            <td> 
            	<input type="text" id="CONSIGNEE" size="40" name="CONSIGNEE" type="text" class="kdemkl " readonly="readonly" placeholder="{$row_request.NAMA_PEMILIK}" style="background-color:#FFFFCC;" /> 
                <input size="40" name="ID_CONSIGNEE" id="ID_CONSIGNEE" type="hidden" />
                <input size="40" name="ALMT_CONSIGNEE" id="ALMT_CONSIGNEE" type="hidden" />
                <input size="40" name="NPWP_CONSIGNEE" id="NPWP_CONSIGNEE" type="hidden" />
            </td>
    	</tr>
    	<tr>
        	<td class="form-field-caption"></td>
            <td></td>
            <td> 
                <input type="hidden" id="PENUMPUKAN" size="40" name="PENUMPUKAN" class="kdemkl " readonly="readonly" placeholder="{$row_request.NAMA_PENUMPUK}" style="background-color:#FFFFCC;" /> 
                <input size="40" name="ID_PENUMPUKAN" id="ID_PENUMPUKAN" type="hidden" />
                <input size="40" name="ALMT_PENUMPUKAN" id="ALMT_PENUMPUKAN" type="hidden" />
                <input size="40" name="NPWP_PENUMPUKAN" id="NPWP_PENUMPUKAN" type="hidden" />
            </td>
    	</tr>
       <!-- <tr>
       		<td class="form-field-caption">Tanggal Rencana Mulai Stripping</td>
            <td> : </td>
            <td> <input type="text" id="TGL_AWAL"  name="TGL_AWAL" value="{$row_request.TGL_AWAL}" placeholder="{$row_request.TGL_AWAL}"/>
		</tr>
        <tr>
        	<td class="form-field-caption">Tanggal Rencana Selesai Stripping</td>
            <td> : </td>
            <td> <input type="text" id="TGL_AKHIR"  name="TGL_AKHIR" value="{$row_request.TGL_AKHIR}" placeholder="{$row_request.TGL_AKHIR}"/>
		</tr> -->
        <tr>
        	<td class="form-field-caption">Nomor D.O</td>
            <td> : </td>
            <td class="form-field-input"> <input type="text" id="NO_DO" name="NO_DO"  value="{$row_request.NO_DO}"/> </td>
    	</tr>
        <tr>
        	<td class="form-field-caption">Nomor B.L</td>
            <td> : </td>
            <td class="form-field-input"> <input type="text" id="NO_BL" name="NO_BL" value="{$row_request.NO_BL}"/> </td>
    	</tr>
        <tr>
        	<td class="form-field-caption">Nomor SPPB</td>
            <td> : </td>
            <td> <input type="text" id="NO_SPPB" size="40" name="NO_SPPB" value="{$row_request.NO_SPPB}"  />  </td>
    	</tr>
		<tr>
			<td class="form-field-caption">Tanggal SPPB</td>
            <td> : </td>
            <td> <input type="text" id="TGL_SPPB"  name="TGL_SPPB" value="{$row_request.TGL_SPPB}" placeholder = "{$row_request.TGL_SPPB}" /></td>
		</tr>
        <tr>
        	<td class="form-field-caption">Type Stripping</td>
            <td> : </td>
            <td class="form-field-input">
			{$type_stripp}
    	</tr>
        <tr>
       		<td class="form-field-caption">Keterangan</td>
            <td> : </td>
            <td class="form-field-input"> <input type="text" name="KETERANGAN" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
        </tr>
	</table>
    </center>
	<center>
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    
    </div>    
	</center>
	<div> <a class='link-button' id="submitForm" onclick="submitManual();"> <img border="0" src="<?=HOME?>/images/valid.png"> SIMPAN</a></div>
	</form>
</fieldset>
<div id="dialog-form"> </div>
<div id="demo8"> </div>
<script>
 function submitManual(){
	$('#dataForm').submit();
}

$(function() {		
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list_strp?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  		
	}); 		
	$( "#TGL_SPPB" ).datepicker();
	$( "#TGL_SPPB" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
});
</script>
