
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#0378C6"> Request</font> Receiving dari TPK </span><br/><br/>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="form" action="<?=HOME?><?=APPID?>/add_edit" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption">Nomor Request Uster</td>
            <td class="form-field-caption"> :</td>
            <td> <input type="text" id="NO_REQ" size="30" name="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>	
    	</tr>
		<tr>
        	<td class="form-field-caption">Nomor Request TPK</td>
            <td class="form-field-caption"> :</td>
            <td> <input type="text" id="NO_REQ2" name="NO_REQ2" value="{$no_req2}" readonly="readonly" /> </td>
    	</tr>
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		<!--
		<tr>
        	<td>Receiving Dari</td>
            <td> : </td>
            <td> <select id="REC_DARI" name="REC_DARI" width="40"  class="kdemkl " onchange="set_voy()" >
				  <option  value="TPK">TPK</option>
				  <option value="LUAR">LUAR</option>
				 </select> 
			</td>
    	</tr>
		-->
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		
		<!--<tr>
        	<td class="form-field-caption">Nomor DO</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_DO" size="20" name="NO_DO" value="{$row_request.NO_DO}" />
			<input type="hidden" id="NO_DO_hide" size="40" name="NO_DO_hide" value="{$row_request.NO_DO}" />
			</td>
    	</tr>
		<tr>
        	<td class="form-field-caption">Nomor BL</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_BL" size="20" name="NO_BL"  value="{$row_request.NO_BL}"  />  </td>
				<input type="hidden" id="NO_BL_hide" size="40" name="NO_BL_hide" value="{$row_request.NO_BL}"  /> 
    	</tr>
		<tr>
        	<td class="form-field-caption">Nomor SPPB</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="NO_SPPB" size="20" name="NO_SPPB" value="{$row_request.NO_SPPB}"  />  </td>
    	</tr>
		<tr>
			<td class="form-field-caption">Tanggal SPPB</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" id="TGL_SPPB"  name="TGL_SPPB" value="{$row_request.TGL_SPPB}" /></td>
		</tr>-->
		
		<tr>
        	<td class="form-field-caption"></td>
            <td class="form-field-caption"> </td>
            <td> <input type="hidden" name="CONSIGNEE" size="40" id="CONSIGNEE" value="{$row_request.CONSIGNEE}" style="background-color:#FFFFCC;"/> <input type="hidden" name="KD_CONSIGNEE" id="KD_CONSIGNEE" value="{$row_request.KD_CONSIGNEE}" /> </td>
    	</tr> 
		<tr>
        	<td class="form-field-caption">PENUMPUKAN OLEH</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="PENUMPUKAN_OLEH" id="PENUMPUKAN_OLEH" value="{$row_request.CONSIGNEE}" style="background-color:#FFFFCC;"/> <input type="hidden" name="KD_PENUMPUKAN_OLEH" id="KD_PENUMPUKAN_OLEH" value="{$row_request.KD_PENUMPUKAN_OLEH}" /> </td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
        <tr>
       		<td class="form-field-caption">Keterangan</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="KETERANGAN" id="KETERANGAN" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
        </tr>
        <tr>
        	<td colspan="3"> <a id="submitForm" onclick="save()" class="link-button" ><img src='images/valid.png' border='0' />&nbsp;Simpan Hasil Edit</a></td>
        </tr>
	</table>
    </center>
</form>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    <table style="margin: 30px 30px 30px 30px;border:thin groove;"  >
    	<tr>
        	<td class="form-field-caption"> Nomor Container </td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="NO_CONT" ID="NO_CONT" /> </td>
            <td style="width:200px;">&nbsp;
            <input type="hidden" name="NO_DEL_REQ" id="NO_DEL_REQ" value="{$row_request2.NO_DEL_REQ}" />
             <input type="hidden" name="BP_ID" ID="BP_ID" readonly="readonly"/>
              <input type="hidden" name="NO_UKK" ID="NO_UKK" readonly="readonly"/>
               <input type="hidden" name="TGL_STACK" ID="TGL_STACK" readonly="readonly"/>
               <input type="hidden" name="SP2" ID="SP2" value="{$sp2}" readonly="readonly"/>
               <input type="hidden" name="NO_BOOKING" ID="NO_BOOKING" readonly="readonly"/>
			   <!--
				<input type="hidden" name="BLOK" ID="BLOK"  readonly="readonly"/>
				<input type="hidden" name="SLOT" ID="SLOT"  readonly="readonly"/>
				<input type="hidden" name="ROW" ID="ROW"  readonly="readonly"/>
				<input type="hidden" name="TIER" ID="TIER"  readonly="readonly"/>
				-->
            </td>
            <td colspan="2" class="form-field-caption"> Ukuran </td>
            <td class="form-field-caption"> : </td>
            <td colspan="6"> <input  type="text" name="SIZE" ID="SIZE" readonly="readonly" style="background-color:#FFFFCC;"/> </td>
        </tr>
        <tr>
        	<td class="form-field-caption"> Status </td>
            <td class="form-field-caption"> : </td>    
            <td> <input type="text" name="STATUS" ID="STATUS" readonly="readonly" style="background-color:#FFFFCC;"/> </td>            
                             
        	<td style="width:200px;">&nbsp;</td>
            <td class="form-field-caption"colspan="2"> Type </td>
            <td class="form-field-caption"> : </td>
            <td colspan="6"> <input  type="text" name="TIPE" ID="TYPE" readonly="readonly" style="background-color:#FFFFCC;"/> </td>
        </tr>
		<tr>
        	<td class="form-field-caption"> Berbahaya </td>
            <td class="form-field-caption"> : </td>
            <td> <select name="BERBAHAYA" id="BERBAHAYA">
				<option value="">--</option>
				<option value="Y">YA</option>
				<option value="N">TIDAK</option> </select></td>
        	<td style="width:200px;">&nbsp;</td>
			<td colspan="2" class="form-field-caption"> Komoditi </td>
            <td class="form-field-caption"> : </td>
            <td colspan="6"> <input  type="text" name="KOMODITI" ID="KOMODITI" /> </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
        </tr>
		
		<tr>
       		<td class="form-field-caption">Voyage / Kapal</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="VOYAGE" id="VOYAGE" placeholder="{$rowxcont.VOYAGE_IN}" style="background-color:#FFFFCC;" /> / <input  name="VESSEL" id="VESSEL" placeholder="{$row_request.VESSEL}" style="background-color:#FFFFCC;" /><input type="hidden" name="NO_BOOKING" id="NO_BOOKING" value="{$row_request.NO_BOOKING}" /></td>
			<td style="width:200px;">&nbsp;</td>
			<td class="form-field-caption" colspan="2"> Tanggal Bongkar</td>
            <td class="form-field-caption"> : </td>
            <td colspan="6"> <input  type="text" name="TGL_BONGKAR" ID="TGL_BONGKAR" /> </td>
        </tr>
		<tr>
		<td class="form-field-caption"> Depo Tujuan </td>
            <td class="form-field-caption"> : </td>
			<td> 
				<?php
						$db				= getDB("storage");
						$get_yard		= "SELECT * FROM YARD_AREA WHERE STATUS = 'AKTIF'";
						$result_yard	= $db->query($get_yard);
						$row_yard		= $result_yard->getAll();
						$y_list	= "<select id='DEPO_TUJUAN' name='DEPO_TUJUAN'>"; 
						$cur_y	= $_SESSION["IDYARD_STORAGE"];
				
						foreach($row_yard as $row)
						{	
							$y_id	= $row["ID"];
							$y_name	= $row["NAMA_YARD"];
							$y_list	.= "<option value='$y_id' ";
								if($cur_y == $y_id)
								{
									$y_list .= "selected=selected";
								}
							$y_list	.= ">$y_name</option>";
						}
						
						$y_list	.= "</select>";
						echo $y_list;
			?>
			</td>
			<td>&nbsp;
			
			</td>
			<td class="form-field-caption">
			Blok:
			</td>
			<td>
			<input style="width:25px;" type="text" name="BLOK" id="BLOK" />
			</td>
			
			<td class="form-field-caption">
			Slot:
			</td>
			<td>
			<input style="width:25px;" type="text" name="SLOT" id="SLOT" />
			</td>
			<td class="form-field-caption">
			Row:
			</td>
			<td>
			<input style="width:25px;" type="text" name="ROW" id="ROW" />
			</td>
			<td class="form-field-caption">
			Tier:
			</td>
			<td>
			<input style="width:25px;" type="text" name="TIER" id="TIER" />
			</td>
		</tr>
       
        <tr align="center">
        	<td colspan="10"><a id="submitForm" onclick="add_cont()" class="link-button" ><img src='images/valid.png' border='0' />&nbsp;Tambahkan Container</a></td>
        </tr>
		<tr>
			<td height="10"></td>
		</tr>
        
	</table>
    
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    <div id="loading">
	</div>
    </div>
    
	</center>
</fieldset>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<div style="padding-top:7px; padding-left:15px"><font color="#0066CC"><a onclick="window.open('{$HOME}{$APPID}','_self')" class="link-button" style="height:25" >KEMBALI</a></font></div>
</fieldset>

<script>
 // /*
function save(){
	$('#form').submit();
}
$('#form').submit(function(){

	/*
	if( $('#ID_EMKL').val() == '' )
	{
		alert('EMKL  Harus Diisi');
		return false;
	}
	
	else if(($('#REC_DARI').val() == 'TPK')  &&  (($('#NO_DO').val() == '') || ($('#NO_BL').val() == '') || ($('#ID_EMKL').val() == '') || ($('#NO_BOOKING').val() == '')))
	{
		alert('Nomor DO, Nomor BL, EMKL dan Voyage Harus Diisi');
		return false;
	}
	*/

})

//  */
$(function() {	

	$( "#PENUMPUKAN_OLEH" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/pbm",
		focus: function( event, ui ) {
			$( "#EMKL" ).val( ui.item.NAMA );
			return false;
		},
		select: function( event, ui ) {
			$( "#PENUMPUKAN_OLEH" ).val( ui.item.NM_PBM );
			$( "#KD_PENUMPUKAN_OLEH" ).val( ui.item.KD_PBM );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_PBM + "</a>" )
			.appendTo( ul );
	};
	
	$( "#CONSIGNEE" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/pbm",
		focus: function( event, ui ) {
			$( "#EMKL" ).val( ui.item.NAMA );
			return false;
		},
		select: function( event, ui ) {
			$( "#CONSIGNEE" ).val( ui.item.NM_PBM );
			$( "#KD_CONSIGNEE" ).val( ui.item.KD_PBM );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_PBM + "</a>" )
			.appendTo( ul );
	};
	
	
	$( "#KOMODITI" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/komoditi",
		focus: function( event, ui ) {
			$( "#KOMODITI" ).val( ui.item.NM_COMMODITY );
			return false;
		},
		select: function( event, ui ) {
			$( "#KOMODITI" ).val( ui.item.NM_COMMODITY );
			$( "#ID_KOMODITI" ).val( ui.item.KD_COMMODITI );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_COMMODITY + "</a>" )
			.appendTo( ul );
	};
	
	
	$( "#NO_CONT" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/containertpk",
		focus: function( event, ui ) {
			$( "#NO_CONT" ).val( ui.item.CONT_NO_BP );
			return false;
		},
		select: function( event, ui ) {
			$( "#NO_CONT" ).val( ui.item.CONT_NO_BP );
			$( "#SIZE" ).val( ui.item.KD_SIZE);
			$( "#STATUS" ).val( ui.item.KD_STATUS_CONT);
			$( "#TYPE" ).val( ui.item.KD_TYPE);
			$("#VOYAGE").val( ui.item.VOYAGE_IN);
			$("#VESSEL").val( ui.item.NM_KAPAL);
			$("#TGL_BONGKAR").val( ui.item.TGL_BONGKAR);
			$("#TGL_STACK").val( ui.item.TGL_STACK);
			$("#NO_UKK").val( ui.item.NO_UKK);	
			$("#NM_AGEN").val( ui.item.NM_AGEN);
			$("#BP_ID").val( ui.item.BP_ID);	
			$("#BLOK").val( ui.item.BLOK_);
			$("#SLOT").val( ui.item.SLOT_);
			$("#ROW").val( ui.item.ROW_);
			$("#TIER").val( ui.item.TIER_);
			$("#NO_BOOKING").val( ui.item.NO_BOOKING);
			
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li style='text-align:left'></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.CONT_NO_BP + "<br/> "+item.KD_SIZE+" "+item.KD_TYPE+"</a>" )
			.appendTo( ul );
	};
	
	$( "#VOYAGE" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/voyage",
		focus: function( event, ui ) {
			$( "#VOY" ).val( ui.item.VOYAGE );
			return false;
		},
		select: function( event, ui ) {
			$( "#VOYAGE" ).val( ui.item.VOYAGE );
			$( "#VESSEL" ).val( ui.item.VESSEL );
			$( "#NO_BOOKING" ).val( ui.item.NO_BOOKING );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.VOYAGE + " | "+item.VESSEL +"</a>" )
			.appendTo( ul );
	};
	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
	}); 	
});

function add_cont()
{
	var no_cont_		= $("#NO_CONT").val();
	var no_req_		= "{$row_request.NO_REQUEST}";
	var no_req2_		= $("#NO_REQ2").val();
	var status_		= $("#STATUS").val();
	var berbahaya_	= $("#BERBAHAYA").val();
	var no_do_		= $("#NO_DO").val();
	var no_bl_		= $("#NO_BL").val();
	var size_		= $("#SIZE").val();
	var type_		= $("#TYPE").val();
	var vessel_		= $("#VESSEL").val();
	var tgl_bongkar_	= $("#TGL_BONGKAR").val();
	var tgl_stack_	= $("#TGL_STACK").val();
	var no_ukk_		= $("#NO_UKK").val();
	var nm_agen_		= $("#NM_AGEN").val();
	var bp_id_		= $("#BP_ID").val();	
	var no_booking_	= $("#NO_BOOKING").val();
	var voyage_		= $("#VOYAGE").val();
	var komoditi_		= $("#KOMODITI").val();
	var kd_consignee_	= $("#KD_CONSIGNEE").val();
	var sp2_		= $("#SP2").val();
	var depo_tujuan_	= $("#DEPO_TUJUAN").val();
	var blok_tpk_		= $("#BLOK").val();
	var slot_tpk_		= $("#SLOT").val();
	var row_tpk_		= $("#ROW").val();
	var tier_tpk_		= $("#TIER").val();
	var url				= "{$HOME}{$APPID}.ajax/add_cont";
	
	
	$('#cont_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	$.post(url,{NO_CONT: no_cont_, NO_REQ : no_req_, STATUS : status_, BERBAHAYA : berbahaya_, VOYAGE : voyage_, KOMODITI : komoditi_, NO_REQ2 : no_req2_, NO_DO : no_do_, NO_BL : no_bl_, SIZE : size_, TYPE : type_, VESSEL : vessel_, TGL_BONGKAR : tgl_bongkar_, TGL_STACK : tgl_stack_, NO_UKK : no_ukk_, NM_AGEN : nm_agen_, BP_ID : bp_id_, KD_CONSIGNEE : kd_consignee_, SP2 : sp2_, DEPO_TUJUAN : depo_tujuan_, BLOK_TPK : blok_tpk_,  SLOT_TPK : slot_tpk_, ROW_TPK : row_tpk_, TIER_TPK : tier_tpk_, NO_BOOKING : no_booking_},function(data){
	
		
			if(data == "STATUS")
			{
				alert("Status belum diisi")
			}
			else if(data == "BERBAHAYA")
			{
				alert("Status Berbahaya belum diisi")
			}
			
			else if(data == "VOYAGE")
			{
				alert("Voyage Harus Dipilih")
			}
			
			else if(data == "OK")
			{
				alert("Berhasil Tambah Container");
				$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	}); 
				$('#NO_CONT').val('');
				$('#STATUS').val('');
				$('#TYPE').val('');
				$('#BERBAHAYA').val('');
				$('#SIZE').val('');
				$('#TGL_BONGKAR').val('');
				$('#BLOK').val('');
				$('#SLOT').val('');
				$('#ROW').val('');
				$('#TIER').val('');
				$('#KOMODITI').val('');
				$('#VOYAGE').val('');
				$('#VESSEL').val('');
			}
			else if(data == "EXIST")
			{
				alert("Container Sudah terdaftar Receiving")
			}
			$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	}); 
		
	});	
	//prosedur add comment disini, method $.post, include user id dan content id
}

function del_cont($no_cont)
{
	var no_req_		= "{$row_request.NO_REQUEST}";
	var no_req2_	= $("#NO_REQ2").val();
	//var no_cont_	= $("#NO_CONT").val();
	var sp2_		= $("#SP2").val();
	var url			= "{$HOME}{$APPID}.ajax/del_cont";
	
	$('#cont_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	$.post(url,{NO_CONT: $no_cont, NO_REQ : no_req_, SP2: sp2_, NO_REQ2 : no_req2_},function(data){
		console.log(data);
		if(data == "OK")
		{
			alert("Berhasil Hapus Container");
			$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
			}); 	
		}
	});	
}

function set_voy() 
{
	if($("#REC_DARI").val() == "LUAR")
	{
		$('#VOYAGE').val('NOTHING');
		$('#VESSEL').val('NOTHING');
		$('#VOYAGE').attr("readonly","readonly");
		$('#VESSEL').attr("readonly","readonly");
		
		$('#NO_DO').val(' -');
		$('#NO_BL').val(' -');
		$('#NO_SPPB').val(' -');
		$('#TGL_SPPB').val(' -');
		$('#NO_DO').attr("readonly","readonly");
		$('#NO_BL').attr("readonly","readonly");
		$('#NO_SPPB').attr("readonly","readonly");
		$('#TGL_SPPB').attr("readonly","readonly");
		
		$('#NO_BOOKING').val('');
	}
	else
	{
		
		$('#VOYAGE').val('');
		$('#VESSEL').val('');
		$('#VOYAGE').removeAttr("readonly");
		$('#VESSEL').removeAttr("readonly");
		
		$('#NO_DO').val('{$row_request.NO_DO}');
		$('#NO_BL').val('{$row_request.NO_BL}');
		$('#NO_SPPB').val('{$row_request.NO_SPPB}');
		$('#TGL_SPPB').val('{$row_request.TGL_SPPB}');
		$('#NO_DO').removeAttr("readonly");
		$('#NO_BL').removeAttr("readonly");
		$('#NO_SPPB').removeAttr("readonly");
		$('#TGL_SPPB').removeAttr("readonly");
		
		$('#NO_BOOKING').val('{$row_request.NO_BOOKING}');
	}
}	
 $(function() 
{	
	
	$("#TGL_SPPB" ).datepicker();
	$("#TGL_SPPB" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$("#TGL_SPPB").val('{$row_request.TGL_SPPB}');
	
		
});

</script>
