<fill src="req" var="reqq">
<div style="width:767px; height:480px; border:1px solid #FFF">
<table width="100%" cellspacing="0" cellpadding="0" style="margin:0px; margin-top:20px; margin-bottom:10px; font-size:12px">
<tbody>
<tr>
<td width="29%">&nbsp;</td>
<td width="31%">&nbsp;</td>
<td width="12%">&nbsp;</td>
<td width="14%" align="right">No Kartu : </td>
<td width="21%"> {$reqq.ID_REQUEST}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td COLSPAN="2">{$reqq.ID_NOTA}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="60" align="right" colspan="5">
<span style="padding-right:30px; font-size:24px">** EXTRA MOVEMENT ** </span>
</td>
</tr>
<tr>
<td height="40">&nbsp;</td>
<td>
<b style="font-size:24px">{$reqq.NO_CONTAINER}</b>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="20">&nbsp;</td>
<td>{$reqq.UKURAN} / {$reqq.TYPE} / {$reqq.STATUS}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>{$reqq.VESSEL}/{$reqq.VOYAGE}</td>
<td>&nbsp;</td>
<td colspan="2">{$reqq.NOMOR_INSTRUKSI}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>{$reqq.TGL_REQUEST}</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">{$reqq.SHIPPING_LINE}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">&nbsp;</td>
</tr>
<tr>
<td height="42">&nbsp;</td>
<td colspan="4">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">{$reqq.EMKL}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="4">BEHANDLE</td>
</tr>
<tr>
<td height="52">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="padding-left:15px" colspan="2">&nbsp;{$reqq.INVOICE_DATE}</td>
</tr>
<tr>
<td height="40">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-transform:uppercase" colspan="2">{$reqq.NAME}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<div style=" margin-top:51px;"></div>
</fill>