<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"/>
  </configSections>

  <system.web>
    <!-- Handler for mod_mono or IIS classic mode -->
    <!-- 		<httpHandlers>
			<add path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
		</httpHandlers> -->

    <compilation targetFramework="4.0"/>
    <globalization responseEncoding="utf-8" fileEncoding="utf-8"/>
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="Phalanger"/>
      <add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>

  <phpNet>
    
    <paths>
      <set name="DynamicWrappers" value="Bin/dynamic"/>
      <set name="Libraries" value="Bin"/>
    </paths>
    
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl"/>
      
      <!--
        Enable following extensions if your configuration requires them.
        Extensions are a part of Phalanger installation (http://phalanger.codeplex.com/)
        -->
      
      <!-- add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom"/ -->
      <!-- add assembly="php_zlib.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="zlib"/ -->
      <!-- add assembly="php_image.mng, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4ef6ed87c53048a3" section="image"/ -->
    </classLibrary>
    
    <scriptLibrary>
      <add url="bin\axZm.dll" />
    </scriptLibrary>

    <request-control>
      <set name="ExecutionTimeout" value="120" phpName="max_execution_time"/>
    </request-control>

    <globalization>
      <set name="PageEncoding" value="utf-8"/>
    </globalization>

  </phpNet>

</configuration>
