
<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Monitoring Kegiatan</font> Stripping</span><br/><br/>
      <fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
		<div style="padding:10px;font-family:Arial; font-size:8pt; color:#555555; font-weight:bold">
           <table width="100%">
    	<thead>
        	<tr>
            	<th class="grid-header" width="10">No.</th>
				<th class="grid-header"  width="20">NO CONTAINER</th>
				<th class="grid-header"  width="20">SIZE</th>
            	<th class="grid-header"  width="20">TYPE</th>
                <th class="grid-header"  width="10">STATUS</th>
                <th class="grid-header"  width="10">NO REQUEST</th>
                <th class="grid-header"  width="10">EMKL</th>
                <th class="grid-header"  width="10">CP</th>
                <th class="grid-header"  width="10">START PNKN</th>
                <th class="grid-header"  width="10">TGL APPROVE</th>
                <th class="grid-header"  width="10">ACTIVE TO</th>
                <th class="grid-header"  width="10">TGL REALISASI</th>
                <th class="grid-header"  width="10">MASA AKTIF</th>
                <th class="grid-header"  width="10">PERPANJANGAN</th>
				<th class="grid-header"  width="10">STATUS REALISASI</th>
            </tr>
        </thead>
        <tbody>
        	<fill src="row_list" var="rows">
		   	<alt var='bg' list='#f9f9f3,#ffe'/>
        	<tr bgcolor="{$bg}" style="cursor:pointer;" onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'">
            	<td class="grid-cell" align="center"><font size="2px">{$__ctr}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.NO_CONTAINER}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.SIZE_}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.TYPE_}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.STATUS_}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.NO_REQUEST}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.EMKL}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.CONSIGNEE_PERSONAL}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.START_TO}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.TGL_APPROVE}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.ACTIVE_TO}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.TGL_REALISASI}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.MASA_AKTIF}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.PERPANJANGAN}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.STATUS}</font></td>
            </tr>
            </fill>
        </tbody>
    </table>
		</div>
	
	   </fieldset>
<script>


function detail(id){
	var url 	    = "<?=HOME?><?=APPID?>.toexcel/toexcel?id="+id;
	
	window.open(url, "_blank");
}
</script>

