<span class="graybrown"><img src='images/document-print-preview.png' border='0' class="icon"/><font color="#0378C6"> Cetak</font> Kartu - Truk Masuk Stripping</span><br/><br/>
      <fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
          <form id="searchForm" name="searchForm" action="{HOME}delivery.permintaan/search/" method="get">
              <div style="padding:10px;font-family:Arial; font-size:8pt; color:#555555; font-weight:bold">Pencarian No Request : <input type="text" id="no_req" name="NO_REQ" /> <br />
              Tgl Request Stripping &nbsp;&nbsp;: <input type="text" name="FROM" id="from"/> S/D <input type="text" name="TO" id="to"/>  
              &nbsp;&nbsp; <a class="link-button" style="height:25" onclick="search_request()"><img src='images/cari.png' border='0' />Cari</a><br />  
              <br>
              </div>
          </form>
      </fieldset>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    
    <div id="request_list" style="margin: 5px 5px 5px 5px">
    
    </div>
    
    </center>
</fieldset>
 
<div id="list_cont" title="Daftar Container">	</div>

<script>

$(function() {	
	
	$( "#from" ).datepicker();
	$( "#from" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$( "#to" ).datepicker();
	$( "#to" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	$("#request_list").load('<?=HOME?><?=APPID?>/req_list #list', function(data) {        	  
	}); 	
	
	
	$( "#list_cont" ).dialog({
		autoOpen: false,
		height: 200,
		width:600,
		show: "blind",
		hide: "explode"
	});
});

function cont_list($no_request)
{
	//alert($no_request);
	//var url = "<?=HOME?><?=APPID?>.ajax/list_cont.php";
	//alert(url);
	$( "#list_cont" ).load('<?=HOME?><?=APPID?>/list_cont?no_req='+$no_request+' #list', function(data){
		
			$( "#list_cont" ).dialog( "open" );
		
		});
	
}

function search_request()
{
	var no_req_ 	= $("#no_req").val();
	var from_ 	= $("#from").val();
	var to_ 	= $("#to").val();	
	var cari_	= "cari"; 
	var url 	= "<?=HOME?><?=APPID?>/req_list #list";
	 
	$("#request_list").load(url,{no_req : no_req_, from : from_, to : to_, cari : cari_}, function(data){
		
	});
	
}

</script>