<?php
if ($_SESSION["LOGGED_STORAGE"] == NULL) {
     exit();
}
	outputraw();
	$db = getDB("storage");
	$q = strtoupper($_GET["q"]);
	if (!$q) return;

	/*$query = "SELECT Q.NO_CONTAINER, Q.SIZE_, Q.TYPE_, Q.LOCATION, Q.TIME_, Q.NO_BOOKING, Q.COUNTER,
CASE WHEN Q.NO_BOOKING LIKE 'BP%' THEN '[I]'
WHEN Q.NO_BOOKING LIKE 'VESSEL_%' THEN '[]'
ELSE '[E]'
END IE
FROM (SELECT DISTINCT MC.NO_CONTAINER, MC.SIZE_, MC.TYPE_, MC.LOCATION, P.NO_BOOKING, MAX(P.TGL_UPDATE) TIME_, P.COUNTER --, P.KEGIATAN
                    FROM MASTER_CONTAINER MC
                    JOIN HISTORY_CONTAINER P ON MC.NO_CONTAINER = P.NO_CONTAINER                    
                    WHERE UPPER(MC.NO_CONTAINER) = '$q' --AND P.KEGIATAN IN ('REQUEST RECEIVING','REQUEST DELIVERY')
                    GROUP BY MC.NO_CONTAINER, MC.SIZE_, MC.TYPE_, MC.LOCATION, P.NO_BOOKING, P.COUNTER --, P.KEGIATAN
                    ORDER BY TIME_ DESC) Q";*/
$query = "SELECT Q.NO_CONTAINER, Q.SIZE_, Q.TYPE_, Q.LOCATION, Q.TIME_, Q.NO_BOOKING, Q.COUNTER,
CASE WHEN Q.NO_BOOKING LIKE 'BP%' THEN '[I]'
WHEN Q.NO_BOOKING LIKE 'VESSEL_%' THEN 
        CASE WHEN W.KEGIATAN = 'REQUEST RECEIVING' THEN  '[I]' ELSE '[E]' END
ELSE '[E]'
END IE, W.KEGIATAN, CONCAT(X.NM_KAPAL, CONCAT(CONCAT(' (',X.VOYAGE_IN),')')) NM_KAPAL
FROM (SELECT DISTINCT MC.NO_CONTAINER, MC.SIZE_, MC.TYPE_, MC.LOCATION, P.NO_BOOKING, MAX(P.TGL_UPDATE) TIME_, P.COUNTER --, P.KEGIATAN
                    FROM MASTER_CONTAINER MC
                    JOIN HISTORY_CONTAINER P ON MC.NO_CONTAINER = P.NO_CONTAINER                    
                    WHERE MC.NO_CONTAINER = '$q' --AND P.KEGIATAN IN ('REQUEST RECEIVING','REQUEST DELIVERY')
                    GROUP BY MC.NO_CONTAINER, MC.SIZE_, MC.TYPE_, MC.LOCATION, P.NO_BOOKING, P.COUNTER --, P.KEGIATAN
                    ORDER BY TIME_ DESC) Q,  
(SELECT NO_REQUEST,COUNTER, NO_BOOKING,KEGIATAN,NO_CONTAINER FROM HISTORY_CONTAINER) W,
(SELECT A.NM_KAPAL,  TM.BP_ID, A.VOYAGE_IN  FROM petikemas_cabang.v_pkk_cont A JOIN PETIKEMAS_CABANG.TTM_BP_CONT TM ON A.NO_UKK = TM.NO_UKK
UNION SELECT A.NM_KAPAL, TM.NO_BOOKING BP_ID, A.VOYAGE_IN FROM petikemas_cabang.v_pkk_cont A JOIN PETIKEMAS_CABANG.TTH_CONT_BOOKING TM ON A.NO_UKK = TM.NO_UKK) X
WHERE Q.NO_BOOKING = W.NO_BOOKING(+)
AND Q.COUNTER = W.COUNTER(+)
AND Q.NO_CONTAINER = W.NO_CONTAINER(+)
AND W.NO_BOOKING(+) = 'VESSEL_NOTHING'
AND W.KEGIATAN(+) = 'REQUEST RECEIVING'
AND REPLACE(Q.NO_BOOKING, 'VESSEL_NOTHING', 'BSK100000023') = X.BP_ID(+)
ORDER BY TIME_ DESC ";

$result			= $db->query($query);

while($row = $result->FetchRow()){
	if (strpos(strtoupper($row['NO_CONTAINER']), $q) !== false) {
			printf (	
				$row['NO_CONTAINER']."|".
                $row['SIZE_']."|".
                $row['TYPE_']."|".
                $row['LOCATION']."|".
                $row['NO_BOOKING']."|".
                $row['COUNTER']."|".
				$row['IE']."|".
				$row['NM_KAPAL']."|"."\n "
			);  
	}	
}  
die();
?>