 <div id="list">
     <table class="grid-table" border='0' cellpadding="1" cellspacing="1"  width="100%" >
                              <tr style=" font-size:10pt">
                                  <th width="2%" valign="top" class="grid-header"  style="font-size:8pt">No </th>
                                  <th width="110" valign="top" class="grid-header"  style="font-size:8pt">NO. CONTAINER </th>
                                  <th width="150" valign="top" class="grid-header"  style="font-size:8pt">STATUS </th>
                                  <th width="200" valign="top" class="grid-header"  style="font-size:8pt">UKURAN</th> 
                                  <th valign="top" class="grid-header"  style="font-size:8pt">TIPE</th>
                                  <th valign="top" class="grid-header"  style="font-size:8pt">ACTION</th>  
                              </tr>
                              <fill src="row_list" var="rows">
                              <tr bgcolor="#f9f9f3" onMouseOver=this.style.backgroundColor="#BAD5FC" onMouseOut=this.style.backgroundColor="">
                                  <td width="4%" align="center" valign="middle" class="grid-cell" style="color:#000; font-family:Arial; font-size:9pt">{$__ctr} </td>
                                  <td width="22%" align="center" valign="middle" class="grid-cell"   style="font-family:Arial; font-size:11pt; color:#555555"><b>{$rows.NO_CONTAINER}</b></td>
                                  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt">{$rows.STATUS}</td>
                                  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt;font-family:Arial;"><font color="#0066CC" style="font-size:10pt">{$rows.SIZE_}</font></td>
                                  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt;font-family:Arial;"><font color="#0066CC" style="font-size:10pt">{$rows.TYPE_}</font></td>
                                  <td width="11%" align="center" valign="middle" class="grid-cell" style="font-size:9pt;"><a border='0' onclick="del_cont('{$rows.NO_CONTAINER}')"><img src='images/cont_red_delete.png'/>&nbsp; Hapus</a></td>
                                
                              </tr>
                              </fill>
                          </table>
 </div>