
<div id="list">
	<table border="1" width="100%" style="font color=red">
    	<tr>
        	<td align="center">
            	<fieldset >
                	<div style="background-color:#fff; height:700px; border:thin #00F groove">
						<table>
                <tr height="25">
                    <td COLSPAN="32" align="left"></td>
                </tr>
						<tr>
                    <td COLSPAN="32" align="left"><font size="2pt"><b>PT. PELABUHAN INDONESIA II (PERSERO)</b></font></td>
                </tr>
                <tr>
                    <td COLSPAN="32" align="left"><font size="2pt"><b>CABANG TANJUNG PRIOK </b></font></td>
                </tr>
				<tr>
					<td colspan="17"></td>
					<td colspan="4" align="right">No Form</td>
					<td colspan="1" align="right">:</td>
					<td colspan="8" align="left">{$no_faktur}<td>
				</tr>
				<tr>
					<td colspan="17"></td>
					<td colspan="4" align="right">Refisi</td>
					<td colspan="1" align="right">:</td>
					<td colspan="8" align="left">{$no_req}</td>
				</tr>
				
				<tr>
					<td COLSPAN="17"></td>
					<td COLSPAN="4" align="right">Tanggal</td>
					<td colspan="1" align="right">:</td>
					<td COLSPAN="8" align="left">{$row_nota.TGL_NOTA}</td>
				</tr>
				<tr>
					<td COLSPAN="17"></td>
					<td COLSPAN="4" align="right">Halaman</td>
					<td colspan="1" align="right">:</td>
					<td COLSPAN="8" align="left">1/1</td>
				</tr>
                <tr height="30">
                    <td COLSPAN="32" align="left">Print by : DATIN</td>
                </tr>
				<tr>
					<td COLSPAN="32" align="center"><font size="3pt"><b>REALISASI BONGKAR MUAT</b></font></td>
				</tr>
               <tr height="30">
                    <td COLSPAN="32" align="left"><hr></td>
                </tr>
				<tr>
					<td colspan="4">VESSEL ID</td>
					<td>:</td>
					<td colspan="3" align="left">{$row_nota.VESSEL}</td>
					<td colspan="9"></td>
					<td colspan="3"></td>
					<td colspan="0"></td>
					<td colspan="4" align="left"></td>
				</tr> 
				<tr>
					<td colspan="4">VOYAGE</td>
					<td colspan="0">:</td>
					<td colspan="3" align="left">{$row_nota.VOYAGE}</td>
					<td  colspan="9"></td>
					<td colspan="3"></td>
					<td colspan="0"></td>
					<td colspan="4" align="left"></td>
				</tr>
				<tr>
					<td colspan="4">ARRIVAL</td>
					<td colspan="0">:</td>
					<td  align="left">{$row_nota.ALAMAT}</td>
					<td colspan="4"></td>
					<td>BERTHING</td>
					<td colspan="0">:</td>
					<td colspan="7" align="left"></td>
					<td>DEPARTURE</td>
					<td>:</td>
					<td align="left"></td>
				</tr>
				<tr>
					<td colspan="4">START WORK</td>
					<td colspan="0">:</td>
					<td align="left">dama</td>
					<td colspan="4" ></td>
					<td>END WORK</td>
					<td>:</td>
					<td colspan="4" align="left"></td>
				</tr>
                <tr height="10"><td COLSPAN="32" align="left"></td></tr>
               <tr><td COLSPAN="20" align="left"><hr></td></tr>
				<tr>
					<td colspan="20">
						<table border="0">
							<tr>
								<td width="150" align="center"><b>Operation</b></td>
								<td align="center" width="60"><b>Activity</b></td>
								<td align="center" width="40"><b>Shf.By</b></td>
								<td align="center" width="40"><b>Crane</b></td>
								<td align="center" width="40"><b>Size</b></td>
								<td width="60" align="center"><b>Type</b></td>
								<td width="60" align="center"><b>Status</b></td>
								<td width="60" align="center"><b>Ol</b></td>
								<td width="60" align="right"><b>HAZARD</b></td>
								<td width="60" align="right"><b>IMO</b></td>
								<td align="center" width="100"><b>Boxes</b></td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
                <tr><td COLSPAN="20" align="left"><hr></td></tr>
				
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr><td></td></tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Discount :</td>
                    <td colspan="7" align="right">{$row_discount.DISCOUNT}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Administrasi :</td>
                    <td colspan="7" align="right">{$row_adm.ADM}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Dasar Pengenaan Pajak :</td>
                    <td colspan="7" align="right">{$row_tot.TOTAL_ALL}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Jumlah PPN :</td>
                    <td colspan="7" align="right">{$row_ppn.PPN}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Jumlah PPN Subsidi :</td>
                    <td colspan="7" align="right">{$row_materai.MATERAI}</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="16"></td>
					<td colspan="7"  align="right">Jumlah Dibayar :</td>
                    <td colspan="7" align="right">{$row_bayar.TOTAL_BAYAR}</td>
					<td colspan="2"></td>
				</tr>
				<tr height="100"><td></td></tr>
				<tr>
					<td># nominal</td>
				</tr>
						</table>
                    </div>
                </fieldset>
            </td>
		</tr>
    </table>
 </div>
 
 