
 
<span class="graybrown ">
	<table width="100%" cellspacing="0" height="81px" border="0" style="margin-top:-14px;">
    	<tr align='left'>
        	<td width='100px' > 
            	&nbsp;&nbsp;&nbsp;&nbsp;<img src='images/cont_gate.png' border='0' width="80%" height='100%' class="icon"/></td><td ><font color="RED" size="+3">Form Gate In </font><font color="0268AB" size="+3">[ Truk Engkel ]</font>
            </td>
        </tr>
    </table>
</span>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    <table style="margin: 30px 30px 30px 30px;" border="0">
    	<tr>
        	<td>No. Kartu</td>
            <td> : </td>
            <td> <input type="text" name="NO_KARTU" ID="NO_KARTU" style="font-size:20px; font-weight:bold; text-transform:uppercase" tabindex="2"/> </td>
    	</tr>
        <tr>
        	<td>No. Container</td>
            <td> : </td>
            <td> <input type="text" name="NO_CONT" ID="NO_CONT" readonly="readonly" placeholder="AUTO" style="font-size:20px; font-weight:bold; text-transform:uppercase" tabindex="2" /> </td>
    	</tr>
		<tr>
        	<td>No. POLISI</td>
            <td> : </td>
            <td> <input type="text" name="NO_POL" ID="NO_POL" style="font-size:20px; font-weight:bold; text-transform:uppercase" tabindex="2" /> 
				<input type="hidden" name="NO_REQ" ID="NO_REQ" />
				<input type="hidden" name="KEGIATAN" ID="KEGIATAN" />
				<input type="hidden" name="LOKASI" ID="LOKASI" />
				<input type="hidden" name="LOKASI" ID="LOKASI" />
				<input type="hidden" name="BLOK" ID="BLOK" />
				<input type="hidden" name="ROW" ID="ROW" />
				<input type="hidden" name="SLOT" ID="SLOT" />
				<input type="hidden" name="TIER" ID="TIER" />
			</td>
    	</tr>
	</table>
    </center>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; text-align:center">
	<input type="button" value=" GATE IN " onclick="set_gatein()" />
</fieldset>

<script>

$(function() {	
	$( "#NO_KARTU" ).autocomplete({
		minLength: 4,
		source: "{$HOME}{$APPID}.auto/kartu",
		focus: function( event, ui ) {
			$( "#NO_KARTU" ).val( ui.item.NO_KARTU );
			return false;
		},
		select: function( event, ui ) {
			$( "#NO_KARTU" ).val( ui.item.NO_KARTU );
			$( "#NO_CONT" ).val( ui.item.NO_CONTAINER);
			$( "#NO_REQ" ).val( ui.item.NO_REQUEST);
			//$( "#KEGIATAN" ).val( ui.item.KEGIATAN);
			//$( "#LOKASI" ).val( ui.item.LOKASI);
			//$( "#BLOK" ).val( ui.item.BLOK_);
			//$( "#ROW" ).val( ui.item.ROW_);
			//$( "#SLOT" ).val( ui.item.SLOT_);
			//$( "#TIER" ).val( ui.item.TIER_);
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li style='text-align:left'></li>" )
			.data( "item.autocomplete", item )
			.append( "<a><font style='font-size:20px'>" + item.NO_KARTU + "</font><br/> <font style='font-size:16px;color:red'>"+item.NO_REQUEST+"|"+item.NO_CONTAINER+"</font></a>" )
			.appendTo( ul );
	};
});

function set_gatein()
{
	var no_cont_	= $("#NO_CONT").val();
	var no_kartu_	= $("#NO_KARTU").val();
	var no_pol_		= $("#NO_POL").val();
	var no_req_		= $("#NO_REQ").val();
	var lokasi_		= $("#LOKASI").val();
	var blok_		= $("#BLOK").val();
	var slot_		= $("#SLOT").val();
	var row_		= $("#ROW").val();
	var tier_		= $("#TIER").val();
	var kegiatan_		= $("#KEGIATAN").val();
	var url			= "{$HOME}{$APPID}.ajax/add_gatein";
	var url2			= "{$HOME}{$APPID}.autoprint/jobslip";
	
	$.blockUI({ message: '<h1>Please wait...</h1>' });
	$.post(url,{NO_CONT: no_cont_, NO_KARTU : no_kartu_,NO_POL : no_pol_, NO_REQ : no_req_},function(data){
		console.log(data);
		$.unblockUI({ 
				onUnblock: function(){} 
				});
		if(data == "NO_REQUEST")
		{
			alert("Container Sudah Kosong");	
		}
		else if(data == "OVER")
		{
			alert("Kartu Engkel Sudah Tidak Berlaku (Sudah Terpakai Atau Masa Berlaku Sudah Habis)");
		}
		else if(data == "OK")
		{
			alert("GET IN Berhasil");		
			/*window.open(url2+'?no_cont='+no_cont_+'&no_req='+no_req_+'&lokasi='+lokasi_+'&kegiatan='+kegiatan_+'&blok='+blok_+'&slot='+slot_+'&row='+row_+'&tier='+tier_, '_blank');
			 */
			 $("#NO_CONT").val("");
			 $("#NO_KARTU").val("");
			 $("#NO_POL").val("");
			 
		}
		else if(data == "NOT_IN_YARD")
		{
			alert("Petikemas yang dituju belum ada di lapangan");
		}
		
		
	});	
}

</script>