
<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Monitoring Yard</font> Inventory</span><br/><br/>
      <fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
		<div style="padding:10px;font-family:Arial; font-size:8pt; color:#555555; font-weight:bold">
           <table width="100%">
    	<thead>
        	<tr>
            	<th class="grid-header" width="10">No.</th>
				<th class="grid-header"  width="20">NAMA BLOK</th>
				<th class="grid-header"  width="20">YARD</th>
            	<th class="grid-header"  width="20">SLOT</th>
                <th class="grid-header"  width="10">ROW</th>
                <th class="grid-header"  width="10">TIER</th>
                <th class="grid-header"  width="10">GROUND SLOT</th>
                <th class="grid-header"  width="10">CAPACITY</th>
				<th class="grid-header"  width="10">USED</th>
                <th class="grid-header"  width="10">AVAILABLE</th>
				<th class="grid-header"  width="10">ACTION</th>
            </tr>
        </thead>
        <tbody>
        	<fill src="row_list" var="rows">
		   	<alt var='bg' list='#f9f9f3,#ffe'/>
        	<tr bgcolor="{$bg}" style="cursor:pointer;" onMouseOver="this.className='highlight'" onMouseOut="this.className='normal'" onclick="fill('{$rows.NO_CONTAINER}')">
            	<td class="grid-cell" align="center"><font size="2px">{$__ctr}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.NAME}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.YARD}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.SLOT_}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.ROW_}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.TIER_}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.GROUND_SLOT}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.CAPACITY}</font></td>
            	<td class="grid-cell" align="center"><font size="2px">{$rows.USED}</font></td>
				<td class="grid-cell" align="center"><font size="2px">{$rows.AVA}</font></td>
				<td class="grid-cell" align="center"><font size="2px"><input type="button" onclick="detail('{$rows.NAME}')" value=" Detail " /></font></td>

            </tr>
            </fill>
        </tbody>
			<tr>
				<td align="right"> <input type="button" value=" Export to Excel" onclick="toexcel()" /> </td>
			</tr>
    </table>
		</div>
	
	   </fieldset>
<script>


function detail(name){
	var url 	    = "<?=HOME?><?=APPID?>.toexcel/toexcel_detail?name="+name;
	
	window.open(url, "_blank");
}

function toexcel(){
	var tgl_awal_ 	= $("#tgl_awal").val();
	var tgl_akhir_	= $("#tgl_akhir").val();	
	var jenis_ 		= $("#option_kegiatan").val();
	var pembayaran_	= $("#id_bayar").val();
	var status_bayar	= $("#status_bayar").val();
	var status_nota	= $("#status_nota").val();
	var url 	    = "<?=HOME?><?=APPID?>.toexcel/toexcel?tgl_awal="+tgl_awal_+"&tgl_akhir="+tgl_akhir_+"&jenis="+jenis_+"&pembayaran="+pembayaran_+"&status_bayar="+status_bayar+"&status_nota="+status_nota;
	
	window.open(url, "_blank");
}



</script>

