<body onload="printpage()">
<div style="height:0px; width:300px; height:315px; border:0px solid  #FFF">   
	<table width="300px">
		<tr>
			<td align='center' colspan=2><h2><?=$no_cont?></h2></td>			
		</tr>
		<tr>
			<td>NO REQ : </td>
			<td><b><?=$no_req?></b></td>
		</tr>
		<tr>
			<td>KEGIATAN : </td>
			<td><b><?=$kegiatan?></b></td>
		</tr>
		<tr>
			<td>LOKASI : </td>
			<td><b><?=$lokasi?></b></td>
		</tr>
	</table>
</div>
</body>

<script language="Javascript1.2">
  <!--
  function printpage() {
  window.print();
  }
  //-->
</script>
