<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Komponen </font> Nota {$nota.NAMA_NOTA}</span><br/><br/>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    <table class="form-input" style="margin: 30px 30px 30px 30px;"  >
    	<tr>
            <td  class="form-field-caption"> Komponen Nota</td>
            <td> : </td>
            <td> <input type="text" name="komp_nota" ID="komp_nota" /> </td>
        </tr>
        <tr align="center">
            <td colspan="7"><input type="button" value=" Tambah " onClick="add_komp()"/></td>
        </tr>
	</table>
            <div id="komp_nota" style="margin: 10px 10px 10px 10px;"></div>
	</center>
</fieldset>

<script>

$(function() {	
	
	$("#komp_nota").load('<?=HOME?><?=APPID?>/komp_nota?id_nota={$id_nota} #list', function(data) {        	  
	}); 	
});

function add_komp()
{
	var no_cont_         = $("#no_cont").val();
        var size_            = $("#size").val();
        var type_            = $("#type").val();
	var url		     = "{$HOME}{$APPID}.ajax/add_cont";
	
	
	$.post(url,{no_cont : no_cont_, size : size_, type : type_},function(data){
		console.log(data);
		if(data == "CONT_SDH_ADA")
		{
			alert("Container sudah terdaftar");	
		}
		else if(data == "OK")
		{
			$("#cont_list").load('<?=HOME?><?=APPID?>/list_tarif #list', function(data) {        	  
			}); 	
		}
	});	
	//prosedur add comment disini, method $.post, include user id dan content id
}

function del_cont($no_cont)
{
	//var no_req_		= "{$row_request.NO_REQUEST}";
	var url			= "{$HOME}{$APPID}.ajax/del_cont";
	
	$.post(url,{NO_CONT: $no_cont},function(data){
		console.log(data);
		if(data == "OK")
		{
			$("#cont_list").load('<?=HOME?><?=APPID?>/list_tarif #list', function(data) {        	  
			}); 	
		}
	});	
}
</script>
