<style>

body { margin:0px; padding-top:0px; width:100%; height:100%; font-family:Arial}

.style1 {

	font-size: 18px;

	font-weight: bold;

}

</style>



<?php  $i=0; foreach($row_list as $row) { $i++; ?>

<div style="width:767px; height:487px; border:1px solid  #FFF">   

<table border="0px" width="100%" height="519" cellpadding="0"  cellspacing="0" style="margin:0px; margin-top:0px; margin-bottom:15px; font-size:12px">

  <tr> 

    <td width="15%" height="70">&nbsp;</td>

    <td width="41%">&nbsp;</td>


    <td width="12%">&nbsp;</td>
    <td width="22%" align="right" valign="top">No SPPS : {$row.NO_REQUEST}</td>

    <td width="14%" valign="top"> <p></p>

      <p>

        <p2> &nbsp</p2>

      </p>

      <p> &nbsp </p></td>
	</tr>
  <!--

  <tr>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td>{$row.KD_UPER_LUNAS}</td>

  </tr>

  -->

  <tr height="10">

    <td height="58">&nbsp;</td>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td><?

				if ($row['STATUS_REQ']=='PERP'){

					echo "#PERPANJANGAN#";

				}

			?></td>

    <td>&nbsp;</td>

  </tr>
  <tr>

    <td height="41" colspan="5" align="right"><span style="padding-right:30px; font-size:24px"></span></td>



  <tr>

    <td width="15%" height="30">&nbsp;</td> 

    <td valign="top"><b style="font-size:24px">{$row.NO_CONTAINER}</b> <br/> <b style="font-size: 18px"> {$row.PIN_NUMBER}</b></td>

    <td>&nbsp;</td>
 
    <td valign="top"><span class="style1">USTER IPC</span></td>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td height="24">&nbsp;</td>

    <td>{$row.SIZE_} / FCL</td>
    

    <td colspan="2" align="right"><img alt="testing" src="{$HOME}lib/barcode.php?text=<?php echo $row[PIN_NUMBER] ?>&size=35" /></td>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td height="20">&nbsp;</td>

    <td><?php echo $row["O_VESSEL"]; ?> / <?php echo $row["O_VOYIN"]; ?></td>

    <td>&nbsp;</td>

    <td></td>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td height="20">&nbsp;</td>

    <td>{$row.EMKL}</td>

    <td>&nbsp;</td>

    <td> &nbsp;<? 
        $db = getDB("storage");
    if($row["STATUS_REQ"] == 'PERP'){
		$no_co = $row['NO_CONTAINER'];
		$no_re = $row['NO_REQUEST'];

		$tgl_awal = "SELECT TO_DATE(a.TGL_BONGKAR+4,'dd/mm/rrrr')+1 TGL_AWAL FROM container_stripping a, request_stripping b where a.no_request = b.no_request
                and a.no_container = '$no_co' AND a.no_request = '$no_re'";
				
		$perp	= $db->query($tgl_awal);
		$perp_	= $perp->fetchRow(); 
		
		echo $row['START_PNKN_'];
	
	} else {
		echo $row['START_PNKN'];
	}
	?> </td>

    <td>&nbsp;</td>

    </tr>

  <tr>
  

    <td height="20">&nbsp;</td>

    <td ><strong style="font:14px"><span class="style1">
	{$row.LOKASI_TPK}
	</span> </strong></td>

    <td>&nbsp;</td>

    <td><? if($row["STATUS_REQ"] == 'PERP'){
		$tgl_akhir = "SELECT PERP_SD TGL_AKHIR FROM REQUEST_STRIPPING a WHERE a.NO_REQUEST = '$no_re'";
				
		$perp	= $db->query($tgl_akhir);
		$perp_	= $perp->fetchRow(); 
		echo $row['END_PNKN_'];
	} else {
		echo $row['END_PNKN'];
	}
	?></td>

    <td>&nbsp;</td>



    </tr>

  <tr>	

    <td height="18">&nbsp;</td>

    <td >{$row.CONSIGNEE_PERSONAL}</td>

	<td>&nbsp;</td>

    <td colspan="2">
	
</td>



    </tr>

  <tr>

    <td height="15">&nbsp;</td>

    <td >........ / ......... - ......... - ......... </td>

	<td>&nbsp;</td>

    <td ><?php if($row["STATUS_REQ"] != 'PERP'){ echo $row['TGL_AWAL']." s/d ".$row['TGL_AKHIR']; } ?></td>

  </tr>

   <tr>

    <td height="15">&nbsp;</td>

    <td ><strong>AFTER STRIPPING : {$row.AFTER_STRIP}</strong></td>

	<td>&nbsp;</td>

    <td >&nbsp;</td>

  </tr>

  <tr>

    <td height="15">&nbsp;</td>

    <td >ASAL CONTAINER : {$row.ASAL_CONT}</td>

	<td>&nbsp;</td>

    <td >&nbsp;</td>

  </tr>

  <tr>

    <td height="15">&nbsp;</td>

    <td  style="text-transform:uppercase"><em></em></td>

	<td>&nbsp;</td>

    <td >&nbsp;</td>



    </tr>

  <tr>

    <td height="19"></td>

    <td>user print SPPS : {$name}</td>

    <td>&nbsp;</td>

    <td colspan="2" style="padding-left:15px">&nbsp;</td>

    </tr>

  <tr>

    <td height="29">&nbsp;</td>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td><span style="padding-left:15px">&nbsp;<?=date('d M Y')?></span></td>

    <td>&nbsp;</td>

  </tr>

  <tr>

    <td height="59">&nbsp;</td>

    <td>&nbsp;</td>

    <td>&nbsp;</td>

    <td colspan="2" style="padding-left:15px">&nbsp;</td>

    </tr>

</table>



<!-- END DATA -->

</td>

</tr> 

</table>  

</div>



<?php $ck = $i%2; if($ck == 0){?>

<div style=" margin-top:-12px;"></div>
<?php } else {
	
 ?>
<div style=" margin-top:10px;"></div>
 <?php  }?>

<?php } ?>