
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#0378C6"> Request</font> Receiving dari Luar</span><br/><br/>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="form" action="<?=HOME?><?=APPID?>/add_edit" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption">Nomor Request</td>
            <td class="form-field-caption"> :</td>
            <td class="form-field-caption"> <input type="text" id="NO_REQ" name="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		<!--
		<tr>
        	<td>Receiving Dari</td>
            <td> : </td>
            <td> <select id="REC_DARI" name="REC_DARI" width="40"  class="kdemkl" onchange="set_voy()">
				  <option value="LUAR">LUAR</option>
				  <option value="TPK" >TPK</option>
				 </select> 
			</td>
    	</tr>
		-->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!--
		<tr>
        	<td>Nomor DO</td>
            <td> : </td>
            <td> <input type="text" id="NO_DO" size="40" name="NO_DO" value=" -" readonly="readonly"  /> </td>
    	</tr>
		<tr>
        	<td>Nomor BL</td>
            <td> : </td>
            <td> <input type="text" id="NO_BL" size="40" name="NO_BL" value=" -" readonly="readonly"   />  </td>
    	</tr>
		<tr>
        	<td>Nomor SPPB</td>
            <td> : </td>
            <td> <input type="text" id="NO_SPPB" size="40" name="NO_SPPB" value=" -" readonly="readonly"   />  </td>
    	</tr>
		<tr>
			<td>Tanggal SPPB</td>
            <td> : </td>
            <td> <input type="text" id="TGL_SPPB"  name="TGL_SPPB"  value="{$row_request.TGL_SPPB}" readonly="readonly"/>
		</tr>
		-->
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
    			<tr>
			<input size="40" name="REC_DARI" id="REC_DARI" type="hidden" value="LUAR" />
        	<td class="form-field-caption">Penerima/Consignee</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input readonly="readonly" type="text" id="CONSIGNEE" size="40" name="CONSIGNEE" type="text" class="kdemkl " value="{$row_request.CONSIGNEE}" style="background-color:#FFFFCC;" /> 
<input size="40" name="ID_CONSIGNEE" id="ID_CONSIGNEE" type="hidden" />
</td>
    	</tr>
		
		<tr>
        	<td class="form-field-caption">ALamat</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" id="ALMT_CONSIGNEE" size="80" name="ALMT_CONSIGNEE" type="text" class="kdemkl " value="{$row_request.ALMT_PBM}" style="background-color:#FFFFCC;" readonly="readonly"/> 
</td>
    	</tr>
		<tr>
        	<td class="form-field-caption">NPWP</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" id="NPWP_CONSIGNEE" size="60" name="NPWP_CONSIGNEE" type="text" class="kdemkl " value="{$row_request.NO_NPWP_PBM}"  style="background-color:#FFFFCC;" readonly="readonly" /> 
</td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
         <tr>
       		<td class="form-field-caption">Keterangan</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" readonly="readonly" name="KETERANGAN" id="KETERANGAN" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
        </tr>
	</table>
    </center>
</form>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>   
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    
    </div>    
	</center>
</fieldset>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<div style="padding-top:7px; padding-left:15px"><font color="#0066CC"><a onclick="window.open('{$HOME}{$APPID}','_self')" class="link-button" style="height:30" >KEMBALI</a></font> <br/></div>
</fieldset>

<script>
$(function() {		
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST}&overview=yes #list', function(data) {        	  
	}); 	
});
</script>
