
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#0378C6"> Request</font> Receiving </span><br/><br/>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
    <legend><p style="font-size:9pt;font-weight:bold;color:#0378C6;">Request Header</p></legend>
<form id="form" action="<?=HOME?><?=APPID?>/add_edit" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption">Nomor Request</td>
            <td class="form-field-caption"> :</td>
            <td class="form-field-caption"> <input type="text" id="NO_REQ" name="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		<!--
		<tr>
        	<td>Receiving Dari</td>
            <td> : </td>
            <td> <select id="REC_DARI" name="REC_DARI" width="40"  class="kdemkl" onchange="set_voy()">
				  <option value="LUAR">LUAR</option>
				  <option value="TPK" >TPK</option>
				 </select> 
			</td>
    	</tr>
		-->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!--
		<tr>
        	<td>Nomor DO</td>
            <td> : </td>
            <td> <input type="text" id="NO_DO" size="40" name="NO_DO" value=" -" readonly="readonly"  /> </td>
    	</tr>
		<tr>
        	<td>Nomor BL</td>
            <td> : </td>
            <td> <input type="text" id="NO_BL" size="40" name="NO_BL" value=" -" readonly="readonly"   />  </td>
    	</tr>
		<tr>
        	<td>Nomor SPPB</td>
            <td> : </td>
            <td> <input type="text" id="NO_SPPB" size="40" name="NO_SPPB" value=" -" readonly="readonly"   />  </td>
    	</tr>
		<tr>
			<td>Tanggal SPPB</td>
            <td> : </td>
            <td> <input type="text" id="TGL_SPPB"  name="TGL_SPPB"  value="{$row_request.TGL_SPPB}" readonly="readonly"/>
		</tr>
		-->
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
    			<tr>
			<input size="40" name="REC_DARI" id="REC_DARI" type="hidden" value="LUAR" />
        	<td class="form-field-caption">Penerima/Consignee</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" id="CONSIGNEE" size="40" name="CONSIGNEE" type="text" class="kdemkl " value="{$row_request.CONSIGNEE}" style="background-color:#FFFFCC;" /> 
<input size="40" name="ID_CONSIGNEE" id="ID_CONSIGNEE" value="{$row_request.KD_CONSIGNEE}" type="hidden" />
</td>
    	</tr>
		
		<tr>
        	<td class="form-field-caption">ALamat</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" id="ALMT_CONSIGNEE" size="80" name="ALMT_CONSIGNEE" type="text" class="kdemkl " value="{$row_request.ALMT_PBM}" style="background-color:#FFFFCC;" readonly="readonly"/> 
</td>
    	</tr>
		<tr>
        	<td class="form-field-caption">NPWP</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" id="NPWP_CONSIGNEE" size="60" name="NPWP_CONSIGNEE" type="text" class="kdemkl " value="{$row_request.NO_NPWP_PBM}"  style="background-color:#FFFFCC;" readonly="readonly" /> 
</td>
    	</tr>
		
		<tr>
            <td class="form-field-caption">NO RO</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input id="NO_RO" size="60" name="NO_RO" type="text" value="{$row_request.NO_RO}" /> 
            </td>
        </tr>
        <tr>
        	<td class="form-field-caption">D/I</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> 
            <select id="DI" name="DI">
                <option value="Domestik">Domestik</option>
                <option value="International">International</option>
            </select>
            </td>
    	</tr>
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
		
		<!-- -------------------------------------------------------------------------------------------------------------------- -->
         <tr>
       		<td class="form-field-caption">Keterangan</td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" name="KETERANGAN" id="KETERANGAN" style="width:250px" value="{$row_request.KETERANGAN}"/></td>
        </tr>
        <tr>
        	<td colspan="3"> <a id="submitForm" onclick="save()" class="link-button" ><img src='images/valid.png' border='0' />&nbsp;Simpan Hasil Edit</a></td>
        </tr>
	</table>
    </center>
</form>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
    <legend><p style="font-size:9pt;font-weight:bold;color:#0378C6;">Request Detail</p></legend>
	<center>
    <table style="margin: 30px 30px 30px 30px;border:thin groove;"  >
    	<tr>
        	<td class="form-field-caption"> Nomor Container </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <input type="text" name="NO_CONT" ID="NO_CONT" style="height:40px;width:150px;font-size:20px;text-transform: uppercase;" value="" size="13" maxlength="11"/> </td>
            <td style="width:200px;">&nbsp;
            <input type="hidden" name="ID_VSB" id="ID_VSB" />
            <input type="hidden" name="VESSEL" id="VESSEL" />
            </td>
            <td class="form-field-caption"> Ukuran </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> 
			<select name="SIZE" ID="SIZE">
				<option value="20">20</option>
				<option value="40">40</option> 
				<!-- <option value="45">45</option> -->
			</select>
			</td>
        </tr>
        <tr>
        	<td class="form-field-caption"> Status </td>
            <td class="form-field-caption"> : </td>
            
			<!-- <td> <input type="text" name="STATUS" ID="STATUS" /> </td> -->
			<td class="form-field-caption"> <select name="STATUS" ID="STATUS">
				<option value="MTY">MTY</option>
				<option value="FCL">FCL</option>
				
				</select>
			</td>
        	<td style="width:200px;">&nbsp;</td>
            <td class="form-field-caption"> Type </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> 
			<select id="TYPE" name="TYPE">
				<option value="DRY">DRY</option>
				<option value="HQ">HQ</option>
				<option value="OT">OT</option>
				<option value="OVD">OVD</option>
				<option value="RFR">RFR</option>
				<option value="TNK">TNK</option>
				<option value="FLT">FLT</option>
			</select>
			
			</td>
        </tr>
		<tr>
        	<td class="form-field-caption"> Berbahaya </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <select name="BERBAHAYA" id="BERBAHAYA">
				<option value="N">TIDAK</option>
				<option value="Y">YA</option>				
		</select>
			</td>
        	<td style="width:200px;">&nbsp;</td>
			<td class="form-field-caption"> Komoditi </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> 
                <input type="text" name="KOMODITI" ID="KOMODITI" /> 
                <input type="HIDDEN" name="KD_KOMODITI" ID="KD_KOMODITI" /> 
            </td>
            <td>  </td>
            <td>  </td>
            <td> </td>
        </tr>
		
		<!--<tr>
       		<td>Voyage / Kapal</td>
            <td> : </td>
            <td> <input type="text" name="VOYAGE" id="VOYAGE" value="NOTHING" readonly="readonly" style="background-color:#FFFFCC;" /> / <input  name="VESSEL" id="VESSEL" value="NOTHING" style="background-color:#FFFFCC;" /></td>
        </tr>-->
		<tr>
		<td class="form-field-caption"> Depo Tujuan </td>
            <td class="form-field-caption"> : </td>
			<td class="form-field-caption"> 
				<?php
						$db				= getDB("storage");
						$get_yard		= "SELECT * FROM YARD_AREA WHERE status = 'AKTIF'";
						$result_yard	= $db->query($get_yard);
						$row_yard		= $result_yard->getAll();
						$y_list	= "<select id='DEPO_TUJUAN' name='DEPO_TUJUAN'>"; 
						$cur_y	= $_SESSION["IDYARD_STORAGE"];
				
						foreach($row_yard as $row)
						{	
							$y_id	= $row["ID"];
							$y_name	= $row["NAMA_YARD"];
							$y_list	.= "<option value='$y_id' ";
								if($cur_y == $y_id)
								{
									$y_list .= "selected=selected";
								}
							$y_list	.= ">$y_name</option>";
						}
						
						$y_list	.= "</select>";
						echo $y_list;
			?>
			</td>
        	<td style="width:200px;">&nbsp;</td>
			<td class="form-field-caption"> Via </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption"> <select name="VIA" id="VIA">
				<option value="darat">DARAT</option>
				<option value="tongkang">TONGKANG</option>			 	
		</select>
			</td>
		</tr>
		<tr>
            <td class="form-field-caption"> Pemilik Kontainer </td>
            <td class="form-field-caption"> : </td>
            <td class="form-field-caption" colspan="4">
                <input type="text" name="OWNER" ID="OWNER" size="50" /> 
                <input type="hidden" name="KD_OWNER" ID="KD_OWNER" readonly="readonly" />
            </td>
        </tr>

		<br />
        <tr align="center">
        	<td colspan="7"> <a id="submitForm" onclick="add_cont()" class="link-button" ><img src='images/valid.png' border='0' />&nbsp;Tambahkan Container &nbsp; <b>[F2]</b></a></td>
        </tr>
		<tr height="15">
		<td></td>
		</tr>
	</table>
    
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    
    </div>
    
	</center>
</fieldset>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<div style="padding-top:7px; padding-left:15px"><font color="#0066CC"><a onclick="window.open('{$HOME}{$APPID}/?r={$row_request.NO_REQUEST}','_self')" class="link-button" style="height:30" >KEMBALI</a></font> <br/></div>
</fieldset>

<script>


$(document).bind('keydown', function(e) {
        if (e.keyCode == 113) 
            add_cont();
        if (e.keyCode == 114) 
            save();
        return true
});
 // /*
function save(){
	if( $('#CONSIGNEE').val() == '' )
	{
		alert('CONSIGNEE  Harus Diisi');
		return false;
	}
	else {
		$('#form').submit();
	}
	
}

//  */
function cekNoPetiKemas(_objval){
	if(_objval.length >=11){
		if(cekDigitContainer(_objval)){
			$("#NO_CONT").css({"color":"#000000"});
			//$("#boxcmd").removeAttr('disabled');
			//$("#boxcmd").css({"background-color":"#FFFFFF"});
			//$("#id_NM_COMMODITY").focus();
			//$("#id_PBS_NOCONT").html("");
			//alert('true');
			//obj.style.backgroundColor = "#FFFFGG"; 				// di bagian ini terserah lo mao di apain yang pasti ini no petikemas yang salah
		}else{
	//		$.blockUI({ message: '<h2>No petikemas tidak valid!!</h2>' ,css: { 'color':'red' , 'height': '40px', 'margin-top': '100px', 'padding-top': '20px' } });
			$.blockUI({ message: '<div align=left style=font-size:15pt;font-weight:bold;color:red ><img src=\'images/cont_invalid.png\' align=absmiddle border=0> No petikemas tidak valid!!!!</div>' ,css: { 'left': '400px','margin-top': '100px', 'width': '400px', 'height': '40px', 'padding': '20px','align':'center' } });
			$('.blockOverlay').attr('title','Klik untuk menutup').click($.unblockUI); 
			setTimeout($.unblockUI, 1000); 
			
			$("#NO_CONT").css({"color":"#CC66FF"});
			//$("#boxcmd").attr('disabled', 'disabled');
			//$("#boxcmd").css({"background-color":"#666666"});
			//alert('false');
			//obj.style.backgroundColor = "#FFFFFF"; 				// No petikemas bener
		}
	}
}

function cekDigitContainer(_nocont) {
    var noCont = _nocont;
    var lenNoCont = noCont.length * 1;
    var mcekd = noCont.substr((lenNoCont - 1), 1);
    var result = 0;
    var prefCont = noCont.substr(0, 4);
    var strToBeCheck = noCont.substr(0, 10);
    
    //if( prefCont.toUpperCase() == 'HLCU' ) {
    //    result = cekDigitHlcu( strToBeCheck );
    //} else {
        result = __cekDigit( strToBeCheck );
    //}
    
    if( result.toString() == mcekd ) {
		//alert("tul");
        return true;
    } else {
		//alert("LAH");
        return false;
    }
}

function __cekDigit( data ) {
    var anilai = new Array();
    for (var x=1; x<11; x++ ) {
        if( x==1) {
            anilai[x] = 1;
        } else if( x==2 ){
            anilai[x] = anilai[x-1] + 1;
        } else {
            anilai[x] = anilai[x-1] * 2;
        }
    }
    
    var jmd = 0;
    for( var j=1; j<11; j++ ) {
        var cutCekData = data.substr(j-1, 1);
        var cekData = cutCekData.toUpperCase();
        var y = 0;
        
        switch (cekData) {
            case "A":
                y=10;
                break;
            case "B":
                y=12;
                break;
            case "C":
                y=13;
                break;
            case "D":
                y=14;
                break;
            case "E":
                y=15;
                break;
            case "F":
                y=16;
                break;
            case "G":
                y=17;
                break;
            case "H":
                y=18;
                break;
            case "I":
                y=19;
                break;
            case "J":
                y=20;
                break;
            case "K":
                y=21;
                break;
            case "L":
                y=23;
                break;
            case "M":
                y=24;
                break;
            case "N":
                y=25;
                break;
            case "O":
                y=26;
                break;
            case "P":
                y=27;
                break;
            case "Q":
                y=28;
                break;
            case "R":
                y=29;
                break;
            case "S":
                y=30;
                break;
            case "T":
                y=31;
                break;
            case "U":
                y=32;
                break;
            case "V":
                y=34;
                break;
            case "W":
                y=35;
                break;
            case "X":
                y=36;
                break;
            case "Y":
                y=37;
                break;
            case "Z":
                y=38;
                break;
            case "0":
            case "1":
            case "2":
            case "3":
            case "4":
            case "5":
            case "6":
            case "7":
            case "8":
            case "9":
                y=cekData;
                break;
           default:
               y=0;
        }
        jmd = jmd + y * anilai[j];
    }
    
    var result = jmd - Math.floor(jmd / 11) * 11;
    if( result == 10) {
        result = 0;
    }
    return result;
}

$(function() {	

    /*$('#NO_CONT').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '32') {
            return false;
        }
        event.stopPropagation();
    });*/
    
    $("#NO_CONT").on("keydown", function (e) {
        return e.which !== 32;
    });

	$( "#CONSIGNEE" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/pbm",
		focus: function( event, ui ) {
			$( "#CONSIGNEE" ).val( ui.item.NM_PBM );
			return false;
		},
		select: function( event, ui ) {
			$( "#CONSIGNEE" ).val( ui.item.NM_PBM );
			$( "#ID_CONSIGNEE" ).val( ui.item.KD_PBM );
			$( "#ALMT_CONSIGNEE" ).val( ui.item.ALMT_PBM );
			$( "#NPWP_CONSIGNEE" ).val( ui.item.NO_NPWP_PBM );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_PBM + "</a>" )
			.appendTo( ul );
	};
	
	$( "#KOMODITI" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/komoditi",
		focus: function( event, ui ) {
			$( "#KOMODITI" ).val( ui.item.NM_COMMODITY );
			return false;
		},
		select: function( event, ui ) {
			$( "#KOMODITI" ).val( ui.item.NM_COMMODITY );
			$( "#KD_KOMODITI" ).val( ui.item.KD_COMMODITY );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_COMMODITY + "</a>" )
			.appendTo( ul );
	};
	
	$( "#OWNER" ).autocomplete({
        minLength: 3,
        source: "{$HOME}{$APPID}.auto/owner",
        focus: function( event, ui ) {
            $( "#OWNER" ).val( ui.item.NM_OWNER );
            return false;
        },
        select: function( event, ui ) {
            $( "#OWNER" ).val( ui.item.NM_OWNER );
            $( "#KD_OWNER" ).val( ui.item.KD_OWNER );
            return false;
        }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li></li>" )
            .data( "item.autocomplete", item )
            .append( "<a><b>" + item.KD_OWNER + "</b> | " + item.NM_OWNER + "</a>" )
            .appendTo( ul );
    };


	$( "#NO_CONT" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/container",
		focus: function( event, ui ) {
			$( "#NO_CONT" ).val( ui.item.NO_CONTAINER );
			return false;
		},
		select: function( event, ui ) {
			$( "#NO_CONT" ).val( ui.item.NO_CONTAINER );
            $( "#SIZE" ).val( ui.item.SIZE_CONT);
			$( "#TYPE" ).val( ui.item.TYPE_CONT);
            $( "#ID_VSB" ).val( ui.item.NO_UKK);
			$( "#VESSEL" ).val( ui.item.VESSEL);
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li style='text-align:left'></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NO_CONTAINER + "<br/> "+item.SIZE_CONT+" "+item.TYPE_CONT+"</a>" )
			.appendTo( ul );
	};
	/*
	$( "#VOYAGE" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/voyage",
		focus: function( event, ui ) {
			$( "#VOY" ).val( ui.item.VOYAGE );
			return false;
		},
		select: function( event, ui ) {
			$( "#VOYAGE" ).val( ui.item.VOYAGE );
			$( "#VESSEL" ).val( ui.item.VESSEL );
			$( "#NO_BOOKING" ).val( ui.item.NO_BOOKING );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.VOYAGE + " | "+item.VESSEL +"</a>" )
			.appendTo( ul );
	};
	*/
	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
	}); 	
});

function add_cont()
{
	var no_cont_	= $("#NO_CONT").val();
	var no_req_		= "{$row_request.NO_REQUEST}";
	var no_req2_	= $("#NO_REQ2").val();
	var status_		= $("#STATUS").val();
	var berbahaya_	= $("#BERBAHAYA").val();
	var no_do_		= $("#NO_DO").val();
    var no_bl_      = $("#NO_BL").val();
    var id_vsb_     = $("#ID_VSB").val();
	var vessel_		= $("#VESSEL").val();
	var via		= $("#VIA").val();
	
	//var no_booking_	= $("#NO_BOOKING").val();
	var voyage_		= $("#VOYAGE").val();
    var komoditi_   = $("#KOMODITI").val();
	var kd_komoditi_ = $("#KD_KOMODITI").val();
	var depo_tujuan_ = $("#DEPO_TUJUAN").val();
	var size_		= $("#SIZE").val();
	var type_		= $("#TYPE").val();
	var kdowner       = $("#KD_OWNER").val();
    var nmowner       = $("#OWNER").val();
	var url			= "{$HOME}{$APPID}.ajax/add_cont";

    if (no_cont_ == "") {
        alert("No Container tidak boleh kosong");
    } 
    else {
		//if(status_ == 'FCL' && via != 'tongkang'){
          //alert('Container Full hanya untuk via tongkang');
          //return false;
		//}
	//	
	if($('#KD_OWNER').val() == ''){
        alert('Pemilik Kontainer Harus Diisi');
        return false;
    }

	$('#cont_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	
	$.post(url,{NO_CONT: no_cont_, NO_REQ : no_req_, STATUS : status_, BERBAHAYA : berbahaya_, VOYAGE : voyage_, KOMODITI : komoditi_, KD_KOMODITI : kd_komoditi_, NO_REQ2 : no_req2_, NO_DO : no_do_, NO_BL : no_bl_, DEPO_TUJUAN : depo_tujuan_, SIZE : size_, TYPE : type_, VIA : via, ID_VSB:id_vsb_, VESSEL:vessel_,kdowner:kdowner,nmowner:nmowner },function(data){
		console.log(data);
		if(data == "STATUS")
		{
			alert("Status belum diisi");
		}
		else if(data == "BERBAHAYA")
		{
			alert("Status Berbahaya belum diisi");
		}
		
		else if(data == "VOYAGE")
		{
			alert("Voyage Harus Dipilih");
		}
		else if(data == "EXIST_DEL")
		{
			alert("Container Masih Aktif di Request SP2 / Belum Gate Out, Cek History");
		}
		else if(data == "EXIST_STUF")
        {
            alert("Container Masih Aktif di Request Stuffing");
        }
        else if(data == "EXIST_STRIP")
        {
            alert("Container Masih Aktif di Request Stripping");
        }
        else if(data == "EXIST_YARD")
        {
            alert("Container Masih Aktif di Siklus Sebelumnya / Belum GATO");
        }
		else if(data == "OK")
		{
			//alert("Berhasil Tambah Container");			
			$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
			}); 	
			$('#NO_CONT').val('');
				//$('#STATUS').val('');
				//$('#TYPE').val('');
				$('#BERBAHAYA').val('');
				//$('#SIZE').val('');
				$('#TGL_BONGKAR').val('');
				$('#BLOK').val('');
				$('#SLOT').val('');
				$('#ROW').val('');
				$('#TIER').val('');
				$('#KOMODITI').val('');
				$('#ID_VSB').val('');
				$('#VESSEL').val('');
				$('#OWNER').val('');
                $('#KD_OWNER').val('');
		}
		else if(data == "EXIST")
		{
			alert("Container Sudah terdaftar Receiving")
		}
		else{
			alert(data);
		}
		
		$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
			}); 
	});	
	//prosedur add comment disini, method $.post, include user id dan content id
}
}


function del_cont($no_cont)
{
	var no_req_		= "{$row_request.NO_REQUEST}";
	var url			= "{$HOME}{$APPID}.ajax/del_cont";
	
	$('#cont_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	$.post(url,{NO_CONT: $no_cont, NO_REQ : no_req_},function(data){
		console.log(data);
		if(data == "OK")
		{
			//alert("Berhasil Hapus Container");
			$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST} #list', function(data) {        	  
			}); 	
		}
	});	
}

function set_voy() 
{
	if($("#REC_DARI").val() == "LUAR")
	{
		$('#VOYAGE').val('NOTHING');
		$('#VESSEL').val('NOTHING');
		$('#VOYAGE').attr("readonly","readonly");
		$('#VESSEL').attr("readonly","readonly");
		
		$('#NO_DO').val(' -');
		$('#NO_BL').val(' -');
		$('#NO_SPPB').val(' -');
		$('#TGL_SPPB').val(' -');
		$('#NO_DO').attr("readonly","readonly");
		$('#NO_BL').attr("readonly","readonly");
		$('#NO_SPPB').attr("readonly","readonly");
		$('#TGL_SPPB').attr("readonly","readonly");
		
		$('#NO_BOOKING').val('');
	}
	else
	{
		
		$('#VOYAGE').val('');
		$('#VESSEL').val('');
		$('#VOYAGE').removeAttr("readonly");
		$('#VESSEL').removeAttr("readonly");
		
		$('#NO_DO').val('{$row_request.NO_DO}');
		$('#NO_BL').val('{$row_request.NO_BL}');
		$('#NO_SPPB').val('{$row_request.NO_SPPB}');
		$('#TGL_SPPB').val('{$row_request.TGL_SPPB}');
		$('#NO_DO').removeAttr("readonly");
		$('#NO_BL').removeAttr("readonly");
		$('#NO_SPPB').removeAttr("readonly");
		$('#TGL_SPPB').removeAttr("readonly");
		
		$('#NO_BOOKING').val('{$row_request.NO_BOOKING}');
	}
}	
 $(function() 
{	
	
	$( "#TGL_SPPB" ).datepicker();
	$( "#TGL_SPPB" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$("#TGL_SPPB").val('{$row_request.TGL_SPPB}');
	
		
});

</script>
