<div id="showdiv"></div>
<span class="graybrown"><img src='images/dokumenbig.png' border='0' class="icon" /> Send Delivery TPK</span><br /><br />
<form id="form-add">
	<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
		<legend></legend>
		<table class="form-input" cellspacing='2' cellpadding='2' border='0' width="100%" style="margin-top:10px;">
			<block visible="error">
				<tr>
					<td colspan="2">Invalid Form Entry</td>
				</tr>
			</block>
			<tr>
				<td class="form-field-caption" valign="middle" align="right" width="200">NO Request</td>
				<td valign="top" class="form-field-input">:
					<input style="width: 50%;font-size:26px; font-weight:bold; text-transform:uppercase" id="NO_REQ"
						name="NO_REQ" class="suggestuwriter" type="text" />
				</td>
			</tr>
			<tr>
				<td class="form-field-caption" valign="middle" align="right" width="200">JENIS</td>
				<td valign="top" class="form-field-input">:
					<select style="width: 50%;font-size:15px; font-weight:bold; text-transform:uppercase"
						name="JENIS_REQ" id="JENIS_REQ" class="suggestuwriter">
						<option value="STRIPPING">STRIPPING</option>
						<option value="PERP_STRIP">PERP_STRIP</option>
						<option value="STUFFING">STUFFING</option>
						<option value="DELIVERY">DELIVERY</option>
						<option value="BATAL_MUAT">BATAL_MUAT</option>
					</select>
				</td>
			</tr>


			<tr>
				<td colspan="2" align="center">
					<button type="button" onclick="postData()">Kirim</button>
					<br /><br />
				</td>
			</tr>

		</table>
	</fieldset>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	function postData() {
		var NO_REQ = $("#NO_REQ").val();
		var JENIS_REQ = $("#JENIS_REQ").val();

		// Check if the fields are not empty
		if (NO_REQ.trim() === '' || JENIS_REQ.trim() === '') {
			Swal.fire({
				icon: 'error',
				title: 'Oops...',
				text: 'Please fill in all the fields!',
			});
			return;
		}

		// Show confirmation dialog
		Swal.fire({
			title: 'Are you sure?',
			text: 'Check Apakah Request Sudah Lunas ?',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, submit it!'
		}).then((result) => {
			if (result.isConfirmed) {

				$.ajax({
					type: "POST",
					url: "/uster.maintenance.send_delivery_tpk.ajax/check_lunas",
					contentType: "application/json",
					data: JSON.stringify({
						"ID_REQUEST": NO_REQ,
						"JENIS": JENIS_REQ,
						"BANK_ACCOUNT_NUMBER": '',
						"PAYMENT_CODE": ''
					}),
					success: function (response) {
						jsonResponse = JSON.parse(response);
						// Check the response code
						if (jsonResponse.code === "0") {
							// Show an error message
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: jsonResponse.msg,
							});
						} else {
							// Handle success jsonResponse here
							Swal.fire({
								icon: 'success',
								title: 'Success!',
								text: jsonResponse.msg,
								willClose: () => {
									sendPraya();
								}
							});
						}
					},
					error: function (error) {
						console.log("Error:", error);
						// Handle error response here
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'Something went wrong!',
						});
					}
				});
			}
		});
	}
	function sendPraya() {
		var NO_REQ = $("#NO_REQ").val();
		var JENIS_REQ = $("#JENIS_REQ").val();

		// Check if the fields are not empty
		if (NO_REQ.trim() === '' || JENIS_REQ.trim() === '') {
			Swal.fire({
				icon: 'error',
				title: 'Oops...',
				text: 'Please fill in all the fields!',
			});
			return;
		}

		// Show confirmation dialog
		Swal.fire({
			title: 'Are you sure?',
			text: 'Request Sudah lunas , Apakah Yakin Ingin Di Kirim Ke Praya',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, submit it!'
		}).then((result) => {
			if (result.isConfirmed) {

				$.ajax({
					type: "POST",
					url: "/uster.billing.paymentcash.ajax/save_payment_external",
					contentType: "application/json",
					data: JSON.stringify({
						"ID_REQUEST": NO_REQ,
						"JENIS": JENIS_REQ,
						"BANK_ACCOUNT_NUMBER": '',
						"PAYMENT_CODE": ''
					}),
					success: function (response) {
						jsonResponse = JSON.parse(response);
						// Check the response code
						if (jsonResponse.code === "0") {
							// Show an error message
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: jsonResponse.msg,
							});
						} else {
							// Handle success jsonResponse here
							Swal.fire({
								icon: 'success',
								title: 'Success!',
								text: jsonResponse.msg,
							});
						}
					},
					error: function (error) {
						console.log("Error:", error);
						// Handle error response here
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'Something went wrong!',
						});
					}
				});
			}
		});
	}
</script>