
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#0378C6">Nota</font> Receiving </span><br/><br/>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    <table style="margin: 30px 30px 30px 30px;" border="0">
    	<tr>
        	<td class="form-field-caption">No. Request</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="NO_REQ" id="NO_REQ"/></td>
    	</tr>
    	<tr>
        	<td class="form-field-caption">Tanggal Request</td>
            <td class="form-field-caption"> : </td>
            <td> <input type="text" name="FROM" id="FROM"/> s/d <input type="text" name="TO" id="TO"/> </td>
    	</tr>
        <tr>
        	<td colspan="3" align="right"> <a class="link-button" style="height:25" onclick="search_request()"><img src='images/cari.png' border='0' />Cari</a></td>
        </tr>
	</table>
    </center>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    
    <div id="nota_list" style="border:thin inset; margin: 5px 5px 5px 5px">
    
    </div>
    
    </center>
</fieldset>
 
<script>

$(function() {	
	
	$( "#FROM" ).datepicker();
	$( "#FROM" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$( "#TO" ).datepicker();
	$( "#TO" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$('#nota_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	
	$("#nota_list").load('<?=HOME?><?=APPID?>/nota_list #list', function(data) {        	  
	}); 	
});

function search_request()
{
	var from_ 	= $("#FROM").val();
	var to_ 	= $("#TO").val();	
	var cari_	= "cari"; 
	var no_req_	= $("#NO_REQ").val();
	var url 	= "<?=HOME?><?=APPID?>/nota_list #list";
	$('#nota_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	 
	$("#nota_list").load(url,{NO_REQ : no_req_, FROM : from_, TO : to_, CARI : cari_}, function(data){
	
	});

}
function change_page($page){
	var selected_p = $page;
	$('#nota_list').html('<p align=center><img src={$HOME}images/loadingbox.gif /></p>');
	$("#nota_list").load('<?=HOME?><?=APPID?>/nota_list?pp='+selected_p+' #list', function(data) {});
}
</script>