
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#DE7E21"> Perencanaan Stripping Petikemas yang berada di DEPO</font></span>


<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="form" action="<?=HOME?><?=APPID?>/add_do" method="POST">
	<center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td class="form-field-caption" align="left">Penerima / Consignee</td>
            <td class="form-field-caption" align="left"> : </td>
            <td class="form-field-caption" align="left"> 
            	<input type="text" id="CONSIGNEE" size="40" name="CONSIGNEE" type="text" class="kdemkl " placeholder=" AUTOCOMPLETE" style="background-color:#FFFFCC;" /> 
                <input size="40" name="ID_CONSIGNEE" id="ID_CONSIGNEE" type="hidden" />
                <input size="40" name="ALMT_CONSIGNEE" id="ALMT_CONSIGNEE" type="hidden" />
                <input size="40" name="NPWP_CONSIGNEE" id="NPWP_CONSIGNEE" type="hidden" />
				<input type="hidden" id="PENUMPUKAN" size="40" name="PENUMPUKAN" class="kdemkl " placeholder=" AUTOCOMPLETE" style="background-color:#FFFFCC;" /> 
                <input size="40" name="ID_PENUMPUKAN" id="ID_PENUMPUKAN" type="hidden" />
                <input size="40" name="ALMT_PENUMPUKAN" id="ALMT_PENUMPUKAN" type="hidden" />
                <input size="40" name="NPWP_PENUMPUKAN" id="NPWP_PENUMPUKAN" type="hidden" />
            </td>
    	</tr>
      
		<tr>
        	<td class="form-field-caption" align="left">Nomor D.O</td>
            <td class="form-field-caption" align="left"> : </td>
            <td class="form-field-caption" align="left"> <input type="text" name="NO_DO" id="NO_DO"/> </td>
		</tr>
		<tr>
        	<td class="form-field-caption" align="left">Nomor B.L</td>
            <td class="form-field-caption" align="left"> : </td>
            <td class="form-field-caption" align="left"> <input type="text" name="NO_BL" id="NO_BL"/> </td>
		</tr>
		<tr>
        	<td class="form-field-caption" align="left">Type Stripping</td>
            <td class="form-field-caption" align="left"> : </td>
            <td class="form-field-caption" align="left"> <select name="TYPE_S"> <option value="DOMESTIC"> DALAM NEGERI </option> <option value="INTERNATIONAL"> LUAR NEGERI </option> </select> </td>
       	</tr>
        <tr>
        	<td class="form-field-caption" align="left">Keterangan</td>
            <td class="form-field-caption" align="left"> : </td>
            <td class="form-field-caption" align="left"> <input type="text" name="keterangan" id="KETERANGAN" style="width:250px"/></td>
        </tr>
        <tr>
        	<td colspan="3"> <input type="submit" value=" Simpan "/></td>
        </tr>
	</table>
    </center>
</form>
</fieldset>


 
<script>

$('#form').submit(function() {
	if(	($("#CONSIGNEE").val() == "") || ($("#PENUMPUKAN").val() == "") || ($("#NO_DO").val() == "") || ($("#NO_BL").val() == "") || ($("#KETERANGAN").val() == ""))
	{
		alert("Pemilik, EMKL, Keterangan, Nomor DO dan No BL Harus Terisi");
		return false;		
	}
});

$(function() {	
	$( "#TGL_AWAL" ).datepicker();
	$( "#TGL_AWAL" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	
	$( "#TGL_AKHIR" ).datepicker();
	$( "#TGL_AKHIR" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	$( "#CONSIGNEE" ).autocomplete({
		minLength: 3,
		source: "{$HOME}{$APPID}.auto/pbm",
		focus: function( event, ui ) {
			$( "#CONSIGNEE" ).val( ui.item.NM_PBM );
			return false;
		},
		select: function( event, ui ) {
			$( "#CONSIGNEE" ).val( ui.item.NM_PBM );
			$( "#ID_CONSIGNEE" ).val( ui.item.KD_PBM );
			$( "#ALMT_CONSIGNEE" ).val( ui.item.ALMT_PBM );
			$( "#NPWP_CONSIGNEE" ).val( ui.item.NO_NPWP_PBM );
			$( "#PENUMPUKAN" ).val( ui.item.NM_PBM );
			$( "#ID_PENUMPUKAN" ).val( ui.item.KD_PBM );
			$( "#ALMT_PENUMPUKAN" ).val( ui.item.ALMT_PBM );
			$( "#NPWP_PENUMPUKAN" ).val( ui.item.NO_NPWP_PBM );
			return false;
		}
	})
	.data( "autocomplete" )._renderItem = function( ul, item ) {
		return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + item.NM_PBM + "</a>" )
			.appendTo( ul );
	};
	
	
	
});




</script>
