<style>
.content{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	margin-top:20px;
}
.main_side{
	width:100%;
	float:left;
	text-align:left;
}
</style>

<script type="text/javascript">
jQuery(function() {
 jQuery("#print_obx").jqGrid({
	url:'<?=HOME?>datanya/data_obx?q=print_obx',
	mtype : "post",
	datatype: "json",
	colNames:['','No Request','EMKL','Vessel','Jml Container','TPS Asal','TPS Tujuan'], 
	colModel:[
		{name:'aksi', width:40, valign:"center", align:"center",sortable:false,search:false},
		{name:'id_req',index:'id_req', width:120, align:"center"},
		{name:'emkl',index:'emkl', width:110, align:"center",search:false},
		{name:'vessel',index:'vessel', width:200, align:"center",search:false},
		{name:'jum_cont',index:'jum_cont', width:80, align:"center",search:false},
		{name:'tpl1',index:'tpl1', width:100, align:"center",search:false},
		{name:'tpl2',index:'tpl2', width:100, align:"center",search:false}
	],
	rowNum:6,
	width: 870,
	height: "100%",//250

	rowList:[10,20,30,40,50,60],
	loadonce:true,
	rownumbers: true,
	rownumWidth: 15,
	gridview: true,
	pager: '#pg_print_obx',
	viewrecords: true,
	shrinkToFit: false,
	caption:"Data SP2 OBX"
 });
  jQuery("#print_obx").jqGrid('navGrid','#pg_print_obx',{del:false,add:false,edit:false,search:false}); 
 jQuery("#print_obx").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
 
});
</script>

<div class="content">
	<div class="main_side">
	<h2><span class="graybrown">
    	<img class="icon" border="0" src="images/cetak.png" />
        &nbsp;<font color="#0378C6">Cetak</font> SP2 Delivery OBX
        </span></h2>	
	<p><br/></p>
    <table id='print_obx' width="100%"></table> <div id='pg_print_obx'></div>
	<br/>
	<br/>
	</div>
</div>