<script type="text/javascript">		
$().ready(function() {  
$('#add').click(function() {  
return !$('#select1 option:selected').remove().appendTo('#select2');  
});  
$('#remove').click(function() {  
return !$('#select2 option:selected').remove().appendTo('#select1');  
});  
});  
$('form').submit(function() {  
$('#select2 option').each(function(i) {  
$(this).attr("selected", "selected");  
});  
}); 

$(function() {	

	$( "#tgl_perpanjangan" ).datepicker();
	$( "#tgl_perpanjangan" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
})
</script>
<form id="form" method="POST" action="<?=HOME?><?=APPID?>/edit_do">
<span class="graybrown"><img src='images/sp2_p.png' border='0' class="icon"/><font color="#0378C6"> Request</font> Perpanjangan Penumpukan  - Stripping</span><br/><br/>
<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
    <table class="form-input" style="margin: 30px 30px 30px 30px;" >
	    <tr>
            <td class="form-field-caption">Nomor Request</td>
            <td> : </td>
            <td> <input type="text" id="NO_REQ_NEW" name="NO_REQ_NEW" value="{$row_request.NO_REQUEST}" readonly="readonly" /> </td>

    	</tr>
    	<tr>
            <td class="form-field-caption">Nomor Request Sebelumnya</td>
            <td> : </td>
            <td> <input type="text" id="NO_REQ" name="NO_REQ" value="{$no_req}" readonly="readonly" /> </td>
    	
    	</tr>
    	<tr>
            <td class="form-field-caption">E.M.K.L</td>
            <td> : </td>
            <td> <input type="text" name="EMKL" id="EMKL" size="40" value="{$row_request.NM_PBM}" readonly="readonly"/> <input type="hidden" name="ID_EMKL" id="ID_EMKL" /> </td>
                 <td></td>
              <td class="form-field-caption">Keterangan</td>
            <td> : </td>
            <td> <input type="text" name="keterangan" style="width:250px" value="{$row_request.KETERANGAN}" readonly="readonly"/>
			<input type="hidden" id="jumlah" style="width:250px" value="{$row_count.JUMLAH}"/></td>
        
    	</tr>
       
	</table>
            <table><tr><td class="form-field-caption"><font color="#0378C6"  style="font-size:12pt; font-weight:bold"> Perpanjangan s/d tanggal : </font><input type="text" name="tgl_perpanjangan" id="tgl_perpanjangan"/> </td></tr>
			<tr><td></td></tr>
			<tr align="center"><td><? if ($row_count.JUMLAH == 0){ ?><font color="red"  style="font-size:12pt; font-weight:bold; "><blink> <b><i>Semua container telah diperpanjang</i></b></blink><?}?></td></tr>
			<tr><td></td></tr>
			</table>
    </center>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
   <!-- <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">-->
   <table class="form-input" cellspacing='1' cellpadding='1' border='0' width="100%">
       <tr>
           <td >&nbsp;</td>
           <td align="center" ><span class="graybrown"><font color="#0378C6"  style="font-size:12pt; font-weight:bold"> Total Container</font> - {$row_count.JUMLAH} BOX</span></td>
           <td >&nbsp;</td>
           <td align="center"><span class="graybrown"><font color="#0378C6"  style="font-size:12pt; font-weight:bold"> SP2 Perpanjangan</font></span></td>
       </tr>
       <tr>
           <td width="10%" rowspan="4">&nbsp;</td>
           <td width="26%" rowspan="4" align="center" ><!--       <span id="txtHint">
<h2>DATA CONTAINER DELIVERY</h2></span>-->
               <div class="divall">
                   <?php
                   echo "<select multiple='multiple' id='select1' class='selectall' >";
                                            
                       for($i=0;$i<$row_count['JUMLAH'];$i++)
                            {
                              echo "<option value='".$row_detail[$i]["NO_CONTAINER"]."'>";
                              echo $row_detail[$i]['NO_CONTAINER'].'-'.$row_detail[$i]['SIZE_'].'-'.$row_detail[$i]['TYPE_'].'-'.$row_detail[$i]['STATUS'];
                              echo "</option>";
                            }
                            
                   echo "</select>";
                   ?>
                   <br /><br />
               </div>
           </td>
           <td width="12%" height="27" align="center" >&nbsp;</td>
           <td width="26%" rowspan="4" align="center" >
               <div class="divall">
                   <select name="select2[]" multiple="multiple" class="selectall" id="select2"></select><br /><br />
               </div>
           </td>
           <td width="10%" rowspan="4">&nbsp;</td>
       </tr>
       <tr>
           <td align="center" ><a href="#" class="link-button" id="add"><img border="0" src="images/tambah.png"> Tambah</a></td>
       </tr>
       <tr>
           <td align="center" ><a href="#" class="link-button" id="remove"><img border="0" src="images/batal.png"> Hapus &nbsp;&nbsp;&nbsp; </a></td>
       </tr>
       <tr>
           <td align="center" >&nbsp;</td>
       </tr>
   </table>
   <table width="100%">
       <tr>
           <td width="906" colspan="2" class="form-footer">&nbsp;&nbsp; <span id="saveit"><a id="resetForm" onclick="simpanarea();" class="link-button" style="font-weight:bold; color:#F00" ><img src='images/valid.png' border='0' />&nbsp;<blink>Update Data</blink></a> &nbsp;&nbsp; <!--<input tabindex="11" style="height:30px" type="button" value="Perpanjangan SP2" onclick="simpanarea();"  />-->
               </span>&nbsp;&nbsp; 
               <a id="resetForm"  href="{$HOME}{$APPID}" class="link-button" ><img src='images/reset.png' border='0' />&nbsp;Kembali</a>&nbsp;&nbsp; 

           </td>
       </tr>
   </table>
        </form>
        <div id="question" style="display:none; cursor: default"><h1><img src="images/warning.png" align="absbottom" border="0" /> Apakah Anda ingin melanjutkan proses ?.</h1><input type="button" id="yes" value="Yes" /> &nbsp; <input type="button" id="no" value="No" /><br /><br /><font color="#FF0000" style="font-weight:bold">Perhatian : Container di kolom SP2 Perpanjangan harus di blok semuanya ! </font></div>
    
    </div>
    
	</center>
</fieldset>

</form>
<style>
fieldset { -moz-border-radius: 8px; border-radius: px; margin:10px }
legend { margin-left:10px; color:#666; font-weight:bold }
input { font-size:12px; color:#000}
   .all {  
    display: block;  
    border: 1px solid #aaa;  
    text-decoration: none;  
    background-color: #fafafa;  
    color: #123456;  
    margin: 2px;  
    clear:both;  
   }  
   .divall {  
    float:left;  
    text-align: center;  
    margin: 10px;  
   }  
    .selectall {
    width: 300px;  
    height:300px;  
	font-size:11pt; font-weight:bold; font-family:Arial
   }  
</style>

<script type="text/javascript">
    function simpanarea(){
    DATA_SP2     = $('#select2').val();	
	 NO_REQ       = $('#NO_REQ').val();	
	 NO_REQ_NEW       = $('#NO_REQ_NEW').val();	
    TGL_PERP     = $('#tgl_perpanjangan').val();	
	TGL_DEV      = $('#tgl_dev').val();		

     $('#form').submit();

}

</script>  