<html>
	<body>
	<style>

	
	body { margin:0px; padding:0px; width:100%; height:100%;}

	.txc { height:2px; padding:0px; margin:0px; line-height:9px }



	</style>
	<div style="height:5px; width:767px; height:470px; border:0px solid  #FFF">
<fill src="row_list" var="row_list">
<table align="center" border="0" width="600" height="100">
		<tr>
			<td><img src='<?=$HOME?>images/logo_polos.png' width="100" height="50"></td>
			<td width="500"></td>
			
		</tr>
		<tr>
			<td colspan="3" align="center">
				<font size="2" face="verdana"><b>SURAT PERINTAH KERJA KEGIATAN STUFFING</b></font><br>
				
			</td>
		</tr>		
	</table>
	<br>
	<table align="center" border="0" width="650" height="100">
	
		<tr>
			<td width="200"><font size="2" face="verdana">NO Request</font></td>
			<td>:</td>
			<td>
				<font size="2" face="verdana">{$row_list.NO_REQUEST}</font>
			</td>
		</tr>
		<!--
		<tr>
			<td width="50"><font size="2" face="verdana">NO ID Booking Stack</font></td>
			<td>:</td>
			<td>
				<font size="2" face="verdana">
					0000000441				</font>
			</td>
		</tr>
		-->
		<tr>
			<td colspan="3">
				<font size="2" face="verdana">
					Dengan ini diberikan Surat Perintah Kerja untuk melakukan kegiatan STUFFING dengan rincian kegiatan sebagai berikut :
				</font>
			</td>
		</tr>
	</table>
	
	<br>
	<table border = "1" style="solid" align="center">
		<tr>
			<th width="30">No</th>
			<th width="120">No Container</th>
			<th width="120">Size/Type/Status</th>
			<th width="120">Consignee</th>
			<th width="150">Tgl Berlaku </th>
		</tr>
		<tr align="center">
			<td>1</td>
			<td>{$row_list.NO_CONTAINER}</td>
			<td>{$row_list.SIZE_}/{$row_list.TYPE_}/MTY</td>
			<td>{$row_list.EMKL}</td>
			<td>{$row_list.TGL_AWAL} - {$row_list.TGL_AKHIR}</td>
		</tr>
    </table>
	
	<br height="50">
	<table align="center" border="0" width="700" height="100">
		<tr>
			<td width="200" align=""></td>
			<td width="150"></td>
			<td width="350" align="center"><font size="2" face="verdana">Pontianak, {$row_list.SYSDATE_} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</font></td>
		</tr>
		<tr>
			<td></td>
			<td ></td>
			<td align="center">
				a.n Supervisor Logistik<br>
				<font size="2" face="verdana"></font>
			</td>
		</tr>
		<tr height="50">
		</tr>
		<tr>
			<td align="center"></td>
			<td></td>
			<td align="center">(ISKANDAR IMAM PURNOMO)</td>
		</tr>
	</table>	

</fill>
	
</div>
	
	
</body>
</html>
