
<style>
body { margin:0px; padding-top:10px; width:100%; height:100%; font-family:Arial}
.style1 {font-size: 18px}
</style>
<fill src="row_list" var="row">
<div style="width:767px; height:487px; border:1px solid  #FFF">   
<table width="135%" height="564"	 cellpadding="0"  cellspacing="0" style="margin:0px; margin-top:20px; margin-bottom:20px; font-size:12px">
  <tr> 
    <td width="15%" height="118">&nbsp;</td>
    <td width="39%">&nbsp;</td>
    <td width="13%">&nbsp;</td>
    <td width="19%" align="right" valign="top">No SPPS&nbsp;&nbsp;&nbsp;&nbsp;: </td>
    <td width="14%" valign="top"> <p>{$row.NO_REQUEST}</p>
      <p2>
        <p></p>
        <p></p>
      </p2></td>
  </tr>
  <!--
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{$row.KD_UPER_LUNAS}</td>
  </tr>
  -->
  <tr height="10">
    <td height="20"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><?
				if ($row['STATUS_REQ']=='PERP'){
					echo "#PERPANJANGAN#";
				}
			?></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="25" colspan="5" align="right"><span style="padding-right:30px; font-size:24px"></span></td>
  <tr>
    <td width="15%" height="35">&nbsp;</td>
    <td><b style="font-size:24px">{$row.NO_CONTAINER}</b></td>
    <td>&nbsp;</td>
    <td >
		<span class="style1">
			<strong>USTER IPC</strong>
		</span>
	</td>
    </tr>
  <tr>
    <td height="18">&nbsp;</td>
	<!--
    <td>{$row.KD_SIZE} /{$row.STAT_CONT}</td>
	-->
	<td>{$row.SIZE_} /MTY</td>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;<img alt="testing" src="{$HOME}lib/barcode.php?text=<?php echo $row[NO_CONTAINER] ?>&size=35" /></td>
    <!-- <td>&nbsp;</td> -->
  </tr>
  <tr>
    <td height="15">&nbsp;</td>
    <td>{$row.NM_KAPAL}/{$row.VOYAGE}</td>
    <td>&nbsp;</td>
    <td valign="bottom"> {$row.TGL_JAM_TIBA}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="18">&nbsp;</td>
    <td>{$row.EMKL}</td>
    <td>&nbsp;</td>
    <td valign="bottom"></td>
    <td>&nbsp;</td>
    </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td ><strong style="font:14px"><span class="style1">{$row.BLOK_TPK}</span> {$row.ROW_TPK}-{$row.SLOT_TPK}-{$row.TIER_TPK}</strong></td>
    <td>&nbsp;</td>
    <td valign="bottom">{$row.NO_DO}</td>
    <td>&nbsp;</td>
    </tr>
  <tr>	
    <td height="19">&nbsp;</td>
    <td >STUFFING DARI : {$row.ASAL_CONT}</td>
	<td>&nbsp;</td>
    <td colspan="2"><?php if($row["STATUS_REQ"] == 'PERP') { ?> {$row.TGL_AKHIR} <?php } else { ?>{$row.TGL_AWAL}<?php } ?></td>
    </tr>
  <tr>
    <td height="17">&nbsp;</td>
    <td valign="top" >........ / ......... - ......... - ......... </td>
	<td align="left">&nbsp;</td>
    <td ><?php if($row["STATUS_REQ"] == 'PERP') { ?> {$row.END_STACK_PNKN} <?php } else { ?>{$row.TGL_AKHIR}<?php } ?> </td>
  </tr>
   <tr>
    <td height="17">&nbsp;</td>
    <td >{$row.EMKL}</td>
	<td>&nbsp;</td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td height="15">&nbsp;</td>
    <td >&nbsp;<strong>STUFFING {$row.TYPE_STUFFING}</strong></td>
	<td>&nbsp;</td>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td height="15">&nbsp;</td>
    <td  style="text-transform:uppercase">user print SPPS : {$name}</td>
	<td>&nbsp;</td>
    <td >&nbsp;</td>
    </tr>
  <tr>
    <td height="19"></td>
    <td><span style="text-transform:uppercase"></span></td>
    <td>&nbsp;</td>
    <td colspan="2" style="padding-left:15px">&nbsp;<?=date('d M Y')?></td>
    </tr>
  <tr>
    <td height="40">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="102">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2" style="padding-left:15px">&nbsp;</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<!-- END DATA -->
</td>
</tr> 
</table>  
</div>
<!--<div style=" margin-top:51px;"></div> -->
<?php $ck = $i%2; if($ck == 0){?>

<div style=" height:20px; border:1px solid #FFF"></div>
<?php } else {
	
 ?>
<div style=" margin-top:18px;"></div>
 <?php  }?>
</fill> 