<div id="list">
	<table class="grid-table" border='0' cellpadding="1" cellspacing="1"  width="100%" >
    	
        	<tr style=" font-size:10pt">
            	<th valign="top" class="grid-header"  style="font-size:8pt">No.</th>
            	<th valign="top" class="grid-header"  style="font-size:8pt">No CONTAINER</th>
                <th valign="top" class="grid-header"  style="font-size:8pt">STATUS</th>
                <th valign="top" class="grid-header"  style="font-size:8pt">UKURAN</th>
                <th valign="top" class="grid-header"  style="font-size:8pt">TIPE</th>
				<th valign="top" class="grid-header"  style="font-size:8pt">BERBAHAYA</th>
				<th valign="top" class="grid-header"  style="font-size:8pt">KOMODITI</th>
				<th valign="top" class="grid-header"  style="font-size:8pt">DEPO TUJUAN</th>
            </tr>
        
        <tbody>
        	<?php $i=0; foreach($row_list as $rowx) { $i++;?>
		   	<alt var='bg' list='#f9f9f3,#ffe'/>
        	<tr bgcolor="#f9f9f3" onMouseOver=this.style.backgroundColor="#BAD5FC" onMouseOut=this.style.backgroundColor="">
            	<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?=$i?></td>
            	<td align="center" valign="middle" class="grid-cell" style="font-family:Arial; font-size:11pt; color:#555555"><b><?php echo '<input type="text" name="NO_CONT[]" id="NO_CONT" value="'.$rowx['NO_CONTAINER'].'" />'; ?>
				<?php echo '<input type="hidden" name="NO_CONT_OLD[]" id="NO_CONT_OLD" value="'.$rowx['NO_CONTAINER'].'" />'; ?></b></td>
            	<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php echo $rowx["STATUS"]; ?></td>
            	<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php echo $rowx["SIZE_"]; ?></td>
            	<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php echo $rowx["TYPE_"]; ?></td>
				<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php
									echo '<select name="HZ[]">
											<option value="'.$rowx['HZ'].'"> '.$rowx['HZ'].' </option>
											<option value="Y"> Y </option>
											<option value="T"> T </option>
											</select>
									';
								  ?></td>
				<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php echo '<input type="text" id="KOMODITI" name="KOMODITI[]" value="'.$rowx['KOMODITI'].'" />'; ?></td>
				<td align="center" valign="middle" class="grid-cell" style="font-size:9pt"><?php echo $rowx["NAMA_YARD"]; ?></td>				
            </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
