
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#DE7E21"> Correction Container</font> Relokasi Antar Depo </font></span>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form id="dataForm" name="dataForm" action="<?=HOME?><?=APPID?>/save_rel_do" method="POST">
	
    <center>
    <table style="margin: 30px 30px 30px 30px;" >
    	<tr>
        	<td colspan='3' class="graybrown"> Depo Asal - <font color="#0378C6">{$row_rel.NAMA_YARD_ASAL}</font></td>
			<input type="hidden" id="yard_asal" value="{$row_rel.YARD_ASAL}"/>
            <td width="50px">&nbsp;  </td>
            <td colspan="3" class="graybrown"> Depo Tujuan - <font color="#0378C6">{$row_rel.NAMA_YARD_TUJUAN}<font color="#0378C6"></td>
        </tr>
    	<tr>
        	<td class="form-field-caption">Nomor Request Relokasi</td>
            <td> : </td>
            <td  colspan="3" class="form-field-input"> <input type="text" name="NO_REQ_REL" value="{$row_rel.NO_REQUEST}" readonly="readonly" /> </td>
            
    	</tr>
		<tr>
        	<td class="form-field-caption">Consignee</td>
            <td> : </td>
            <td colspan="3" class="form-field-input"> <input type="text" name="NM_PBM" value="{$row_rel.NM_PBM}" readonly="readonly" /> </td>
            
    	</tr>
		<tr>
        	<td class="form-field-caption">Keterangan</td>
            <td> : </td>
            <td colspan="3" class="form-field-input"> <input type="text" name="KETERANGAN" value="{$row_rel.KETERANGAN}" /> </td>
            
    	</tr>
	</table>
    </center>
    

	<center>
    
    <div id="cont_list" style="margin: 10px 10px 10px 10px; border:thin inset">
    
    </div>
    
	</center>
	<div> <a class='link-button' id="submitForm" onclick="submitManual();"> <img border="0" src="<?=HOME?>/images/valid.png"> SIMPAN</a></div>
	</form>
	
</fieldset>

<script>
 function submitManual(){
	$('#dataForm').submit();
}

$(function() {	
	var yard_asal = $("#yard_asal").val();
	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list_rel?no_req={$row_rel.NO_REQUEST} #list', function(data) {        	  
	}); 	
});
</script>
