<div id="myslidemenu" class="jqueryslidemenu">
<block name='MENU_ADMIN'>
	<ul>
         <li><a href="<?=HOME?>main">Home</a></li>
		 <li><a href="#">Request</a>
		 <ul>
			<li> <a href="<?=HOME?>request.delivery/">Delivery/Lift On</a> <li/>
			<li> <a href="">Behandle Export</a> <li/>
			<li> <a href="">PLP</a> <li/>
            <li> <a href="">HMC</a> <li/>
            <li> <a href="<?=HOME?>request.req_glc/">Sewa GLC</a> <li/>
		 </ul>
		 </li>
		 <li><a href="">Billing</a>
		 <ul>
			<li> <a href="">Delivery/Lift On</a> <li/>
			<li> <a href="">Behandle Export</a> <li/>
			<li> <a href="">PLP</a> <li/>
		 </ul>
		 </li>
		 <li><a href="">Maintenance</a>
		 <ul>
			<li> <a href="#">Master</a>
			<ul>
				<li> <a href="<?=HOME?>maintenance.master.container/">Container</a> <li/>
                <li> <a href="<?=HOME?>maintenance.master.shipping_line/">Shipping Line</a> <li/>
				<li> <a href="">Tarif</a> <li/>
			</ul>		
			<li/>
		 </ul>
		 </li>
	</ul>
</block>

<!--<block name='MENU_ADMIN'>
        <ul>
          <li><a style="color:white;">Profil</a>
			<ul>
				<li> <a href="<?=HOME?>main.admin/inputProfil">Input Profil</a> <li/>
				<li> <a href="main/db">List Profil</a> <li/>
				<li> <a href="main/cariprofil">Cari Profil</a> <li/>
			</ul>		  
			</li>
          <li><a style="color:white;">Master</a>
		  <ul>
				<li> <a href="<?=HOME?>main.admin/masterkota">Master Kota</a> <li/>
				<li> <a href="<?=HOME?>main.admin/masterhobi">Master Hobi</a> <li/>
		  </ul>
		 <li><a href="<?php echo HOME?>login/logout">Logout</a></li>
        </ul>
</block> -->
<!--
</li>
          <li><a href="administrasi.dokumen/*">Template Dokumen</a></li>
          <li><a href="administrasi.bebas_perpus/*">Bebas Perpustakaan</a></li>
          <li><a href="administrasi.anggota/*">Keanggotaan</a></li>
          <li><a href="main/logout/*">Keluar</a></li>



<block name='MENU_PETUGAS_VALIDASI'>
        <ul>
          <li><a href="penulisan.verifikasi/*">Penulisan Ilmiah</a></li>
          <li><a href="administrasi.username/edit/*">Ubah password</a></li>
          <li><a href="main/logout/*">Logout</a></li>
        </ul>
</block>
<block name='MENU_MAHASISWA_S2'>
        <ul>
</block>
<block name='MENU_MAHASISWA_S3'>
        <ul>
</block>
<block name='MENU_MAHASISWA_D3'>
        <ul>
</block>
<block name='MENU_DOSEN_KONTRIBUTOR'>
        <ul>
          <li><a href="penulisan.dosen/*">Upload Penelitian</a></li>
          <li><a href="administrasi.username/edit/*">Ubah Password</a></li>
          <li><a href="main/logout/*">Logout</a></li>
        </ul>
</block>
<block name='MENU_ADMINISTRATOR'>
        <ul>
          <li><a href="acl.menu/*">Administrasi</a></li>
          <li><a href="administrasi.username/edit/*">Password</a></li>
          <li><a href="main/logout/*">Logout</a></li>
        </ul>
</block>-->

<br style="clear: left" /></div>