<div id="jkm_input">
<br>
<br>
<table id="tt">
<tr>
<td>No. Request </td>
<td>: <input type="text" name="req" size="15" maxlength="11" id="req" value={$req} readonly=readonly /></td>
</tr>
<tr>
<td>No Faktur Nota Alat </td>
<td>: <input type="text" name="faktur_nota" size="20" id="faktur_nota" />
</td>
</tr>
<tr>
<td>No JKM Nota Alat </td>
<td>: <input type="text" name="jkm_nota" size="20" id="jkm_nota" />
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td> &nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td align="right"> 
    <input type="button" name="insert_jkm" value="Insert JKM" onclick="insert_jkm('{$req}')" />
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</table>
</div>