
 
<span class="graybrown"><img src='images/document-open.png' border='0' class="icon"/><font color="#DE7E21"> Request Stuffing Petikemas</font></span>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
<form action="<?=HOME?><?=APPID?>/add_edit" method="POST">
	<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px; 
-webkit-border-radius: 10px 10px 10px 10px; ">
	<legend>&nbsp &nbsp  <font color="red"><b>Informasi Nama Pengguna Jasa</b></font></legend>
    <table style="margin: 10px 10px 10px 10px;" >
		<tr>
        	<td class="form-field-caption" valign="middle" align="right">No Request</td>
            <td  class="form-field-caption"> : </td>
            <td><input type="text" size="20" id="no_req" name="NO_REQ" value="{$row_request.NO_REQUEST}" readonly="readonly" /> 
            <input type="text" size="20" name="NO_REQUEST2" id="NO_REQUEST2" value="{$no_req2}" />
			<input type="text" name="NO_REQUEST3" id="NO_REQUEST3" value="{$no_req3}" /> </td>
            
    	</tr>
    	<tr>
        	<td class="form-field-caption" valign="middle" align="right">Nama EMKL</td>
            <td  class="form-field-caption"> : </td>
            <td> <input type="text" size="40" name="EMKL" id="EMKL" placeholder="{$row_request.NAMA_EMKL}"/> 
				<input type="hidden" name="ID_EMKL" id="ID_EMKL" value="{$row_request.ID_EMKL}" /></td>
            
    	</tr>
	</table>
	</fieldset>
	<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px; 
-webkit-border-radius: 10px 10px 10px 10px; ">
	<legend> &nbsp &nbsp  <font color="red"><b>Informasi Nama Kapal</b></font></legend>
    <table style="margin: 10px 10px 10px 10px;" >
		 <tr>
					<td class="form-field-caption" valign="top" align="right">Nama Kapal </td><td colspan="5" class="form-field-caption" > :
					<input id="NM_KAPAL" name="NM_KAPAL" type="text" value="{$row_request.NM_KAPAL}" size="40" style="background-color:#FFFFCC;" title="Autocomplete"/>
                    
					<input id="TGL_MUAT" name="TGL_MUAT" type="hidden" value="{$row_request.TGL_MUAT}" size="40" />
					<input id="NO_UKK" name="NO_UKK" type="hidden" value="{$row_request.NO_UKK}" size="40" />		
					<input id="TGL_STACKING" name="TGL_STACKING" type="hidden" value="{$row_request.TGL_STACKING}" size="40" />
					<input id="TGL_BERANGKAT" name="TGL_BERANGKAT" type="hidden" value="{$row_request.TGL_BERANGKAT}" size="40" />   
				<!-- <block visible="error.NO_UKK"><span class="form-field-error">{$error.NM_KAPAL}</span></block> -->
					Voyage : <input id="VOYAGE_IN" name="VOYAGE_IN" type="text" value="{$row_request.VOYAGE_IN}" size="5" readonly /></td>
					
		</tr>
		<tr>
					 <td class="form-field-caption" valign="top" align="right">Nama Agen</td>
					 <td width="300" class="form-field-caption" > :
					<input id="KD_AGEN" name="KD_AGEN" type="hidden" value="{$row.KD_AGEN}" size="3" readonly />	
                    <input id="NM_AGEN" name="NM_AGEN" type="text" value="{$row_request.NM_AGEN}" size="40"  readonly />
					
					<block visible="error.NO_UKK"><span class="form-field-error">{$error.NM_AGEN}</span></block>
                    </td><td width="100"></td>
					 <td class="form-field-caption" valign="top" align="right" width="250">Port Of Destination</td>
					<td valign="middle"  class="form-field-caption">:</td><td> 
					<input id="KD_PELABUHAN_ASAL" name="KD_PELABUHAN_ASAL" type="hidden" value="{$row_request.KD_PELABUHAN_ASAL}" size="3"   class="pod" readonly />
					<input id="NM_PELABUHAN_ASAL" name="NM_PELABUHAN_ASAL" type="text" value="{$row_request.NM_PELABUHAN_ASAL}" size="40" maxlength="100"  title="Autocomplete" class="pod" readonly /> </td>
					 
           
		</tr>	
		<tr>
		  <td class="form-field-caption" valign="top" align="right" >No PKK</td><td class="form-field-caption" >:
					<input id="NO_UKK" name="NO_UKK" type="text" value="{$row.NO_UKK}" readonly="readonly" size="20" maxlength="16" title="Autocomplete" class="pkkkapal" />
                    </td><td width="100"></td>
					 <td class="form-field-caption" valign="top" align="right" width="250">Final Discharge</td>
					<td valign="top" class="form-field-caption">: </td><td>
					<input id="KD_PELABUHAN_TUJUAN" name="KD_PELABUHAN_TUJUAN" type="hidden" value="{$row_request.KD_PELABUHAN_TUJUAN}" size="3"   class="pod2" readonly />
			<input id="NM_PELABUHAN_TUJUAN" name="NM_PELABUHAN_TUJUAN" type="text" value="{$row_request.NM_PELABUHAN_TUJUAN}" size="40" maxlength="100"  class="pod2" title="Autocomplete" readonly /></td>
		</tr>
		<tr>
			 <td class="form-field-caption" valign="middle" align="right" width="177">No Booking</td>
					<td colspan="5" class="form-field-caption" >:
				<input id="NO_BOOKING" name="NO_BOOKING" type="text" value="{$row_request.NO_BOOKING}" size="16" maxlength="16"    readonly /> 
                    </td>
		</tr>
	</table>
	</fieldset>
	
	<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px; 
-webkit-border-radius: 10px 10px 10px 10px; ">
	<legend>&nbsp &nbsp  <font color="red"><b>Informasi Dokumen Pendukung</b></font></legend>
    <table style="margin: 10px 10px 10px 10px;" border="0" >
		<tr>
        	<td class="form-field-caption" valign="top" align="right">No P.E.B </td>
			<input type="hidden" id="PENUMPUKAN" size="40" name="PENUMPUKAN" class="kdemkl " placeholder=" AUTOCOMPLETE" style="background-color:#FFFFCC;" /> 
                <input size="40" name="ID_PENUMPUKAN" id="ID_PENUMPUKAN" type="hidden" />
                <input size="40" name="ALMT_PENUMPUKAN" id="ALMT_PENUMPUKAN" type="hidden" />
                <input size="40" name="NPWP_PENUMPUKAN" id="NPWP_PENUMPUKAN" type="hidden" />
				</td><td valign="top" class="form-field-caption">: 
					<input id="id_NO_PEB" name="NO_PEB" type="text" value="{$row_request.NO_PEB}" size="50" size="15"/></td><td width="100"></td>
					<td class="form-field-caption" valign="middle" align="right">Nomor Dokumen</td>
            <td class="form-field-caption">: <input type="text" name="NO_DOC" size="15" id="NO_DOC" value="{$row_request.NO_DOKUMEN}" /> </td>
			</td>
    	</tr>
    	<tr>
        	 <td class="form-field-caption" valign="top" align="right">No. N.P.E</td><td class="form-field-caption"> :
					<input id="id_NO_NPE" name="NO_NPE" type="text" value="{$row_request.NO_NPE}" size="50"   size="15" /></td>
					<td width="100">
					<td class="form-field-caption" valign="middle" align="right">Nomor JPB</td>
              <td class="form-field-caption"> :  <input type="text" name="NO_JPB" id="NO_JPB" value="{$row_request.NO_JPB}"/></td>
    	</tr>
		<tr>
			<td class="form-field-caption" valign="top" align="right">Nomor D.O</td>
			<td valign="top" class="form-field-caption"> :
			<input type="text" name="NO_DO" id="NO_DO" value="{$row_ict.NO_DO}"/>
			</td>
			<td width="100">
			<td class="form-field-caption" valign="middle" align="right"> BPRP</td>
            <td class="form-field-caption"> :  <input type="text" name="BPRP" id="BPRP" value="{$row_request.BPRP}"/></td>
		</tr>
		<tR>
			<td class="form-field-caption" valign="middle" align="right">Nomor B.L</td>
            <td class="form-field-caption">: <input type="text" name="NO_BL" id="NO_BL" value="{$row_ict.NO_BL}"/>  </td>
		</tr>
		<tr>
        	<td class="form-field-caption" valign="top" align="left">Nomor SPPB</td>
            <td class="form-field-caption"> :  <input type="text" id="NO_SPPB"  name="NO_SPPB" value="{$row_ict.NO_SPPB}"/>  </td>
			<td width="100">
			<td class="form-field-caption" valign="middle" align="right">Tanggal SPPB</td>
            <td class="form-field-caption"> : <input type="text" id="TGL_SPPB"  name="TGL_SPPB" value=""/></td>
    	</tr>
		  <tr>
        	<td class="form-field-caption" valign="middle" align="right">Keterangan</td>
            <td class="form-field-caption"> : 	<input type="text" size="50" name="KETERANGAN" id="KETERANGAN" value="{$row_request.KETERANGAN} " /></td>
           
        </tr>
	</table>
	</fieldset>
</form>
</fieldset>

<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; ">
	<center>
	<fieldset class="form-fieldset" style="margin: 5px 5px 5px 5px; border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px; 
-webkit-border-radius: 10px 10px 10px 10px; "><legend> &nbsp &nbsp  <font color="red"><b>No Container</b></font></legend>
   
    
    <div id="cont_list" style="margin: 10px 10px 10px 10px;">
    
    </div>
    </fieldset>
	</center>
</fieldset>
<div id="dialog-form"> </div>
<script>
$(function(){
	$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 300,
			width: 500,
			modal: true,
			buttons: {
					"Close": function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {

			}
		});
});

$(function() {	
	//$( "#TGL_BONGKAR" ).datepicker();
	//$( "#TGL_BONGKAR" ).datepicker( "option", "dateFormat", "dd-mm-yy" );
	
	
	$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST}&overview=yes #list', function(data) {    
			//alert(data);
			var no = '<?php echo $jum; ?>';
				for(i=1;i<=no;i++){
					$("#TGL_APPROVE_"+i).datepicker();
					$("#TGL_APPROVE_"+i).datepicker( "option", "dateFormat", "yy-mm-dd" );				
				}				
				
	}); 	
});

function add_cont()
{
	
	var no_cont_		= $("#NO_CONT").val();
	var no_req_stuf		= "{$row_request.NO_REQUEST}";
	var no_req_rec		= "{$row_request.NO_REQUEST_RECEIVING}";
	var no_req_del		= "{$row_request.NO_REQUEST_DELIVERY}";
	var no_req_ict_		= $("#NO_REQUEST2").val();
	var size_			= $("#SIZE").val();
	var type_			= $("#TYPE").val();
	var status			= $("#STATUS").val();
	var berbahaya_		= $("#BERBAHAYA").val();
	var commodity_		= $("#COMMODITY").val();
	var kd_commodity_	= $("#KD_COMMODITY").val();
	var jenis_			= $("#JENIS").val();
	var no_seal			= $("#NO_SEAL").val();
	var berat			= $("#BERAT").val();
	var keterangan		= $("#KETERANGAN").val();
	var no_booking_		= $("#NO_BOOKING").val();
	var no_ukk_			= $("#NO_UKK").val();
	var bp_id			= $("#BP_ID").val();
	var sp2				= $("#SP2").val();
	var tgl_stack		= $("#TGL_STACK").val();
	var voyage			= $("#VOYAGE").val();
	var vessel			= $("#VESSEL").val();
	var tgl_bongkar		= $("#TGL_BONGKAR").val();
	var depo_tujuan		= $("#DEPO_TUJUAN").val();
	var no_do			= $("#NO_DO").val();
	var no_bl			= $("#NO_BL").val();
	var no_sppb			= $("#NO_SPPB").val();
	var tgl_sppb		= $("#TGL_SPPB").val();
	var blok_cont		= $("#BLOK").val();
	var slot_cont		= $("#SLOT").val();
	var rows_cont		= $("#ROW").val();
	var tier_cont		= $("#TIER").val();
	var ASAL_CONT		= $("#ASAL_CONT").val();
	var TGL_EMPTY		= $("#TGL_EMPTY").val();
	
	
	var url				= "{$HOME}{$APPID}.ajax/add_cont";
	
	$('#cont_list').html('<p align=center><br><b>PLEASE WAIT ....</b><br><img src={$HOME}images/loadingbox.gif /></p>');
	
	$.post(url,{NO_CONT: no_cont_, NO_REQ_STUF : no_req_stuf, NO_REQ_REC : no_req_rec, 
				NO_REQ_DEL : no_req_del, NO_REQ_ICT : no_req_ict_, SIZE : size_, 
				TYPE : type_, STATUS : status, COMMODITY : commodity_,KD_COMMODITY : kd_commodity_, 
				JENIS : jenis_, BERBAHAYA : berbahaya_, NO_SEAL : no_seal, BERAT : berat, 
				KETERANGAN : keterangan, NO_BOOKING : no_booking_, NO_UKK : no_ukk_, BP_ID: bp_id, SP2 : sp2,
				TGL_STACK : tgl_stack, VOYAGE : voyage, VESSEL : vessel, TGL_BONGKAR : tgl_bongkar,
				DEPO_TUJUAN : depo_tujuan, NO_DO : no_do, NO_BL : no_bl, NO_SPPB : no_sppb, TGL_SPPB: tgl_sppb,
				BLOK : blok_cont, SLOT : slot_cont, ROW: rows_cont, TIER : tier_cont, ASAL_CONT : ASAL_CONT,
				TGL_EMPTY : TGL_EMPTY},function(data){
		console.log(data);
		if(data == "EXIST" )
		{
			alert("Container Sudah terdaftar di request lain, silahkan cek di history container");	
		}
		else if(data == "BERBAHAYA")
		{
			alert("Status Berbahaya belum diisi")
		}
		else if(data == "OK")
		{
			alert("Succeed"); 	
		}
		$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST}&overview=yes #list', function(data) {
				var no = '<?php echo count($row_list); ?>';
				no++;
				for(i=1;i<=no;i++){
					$("#TGL_APPROVE_"+i).datepicker();
					$("#TGL_APPROVE_"+i).datepicker( "option", "dateFormat", "yy-mm-dd" );				
				}
		
			});
			
		    $( "#NO_CONT" ).val('');
			$( "#SIZE" ).val('');
			$( "#STATUS" ).val('');
			$( "#TYPE" ).val('');
			$("#VOYAGE").val('');
			$("#VESSEL").val('');
			$("#TGL_BONGKAR").val('');
			$("#TGL_STACK").val('');
			$("#NO_UKK").val('');
			$("#NM_AGEN").val('');
			$("#BP_ID").val('');
			$("#BLOK").val('');
			$("#SLOT").val('');
			$("#ROW").val('');
			$("#TIER").val('');
			$("#BERBAHAYA").val('');
			$("#NO_SEAL").val('');
			$("#COMMODITY").val('');
			$("#JENIS").val('');
			$("#DEPO_TUJUAN").val('');
			$("#BERAT").val('');
			$("#TGL_EMPTY").val('');
			$("#KETERANGAN").val('');
			$("#ASAL_CONT").val('');
			$( "#NO_CONT" ).focus();
			
	});	
	//prosedur add comment disini, method $.post, include user id dan content id
}

function del_cont($no_cont)
{
	var no_req_		= "{$row_request.NO_REQUEST}";
	var no_req2		= $("#NO_REQUEST2").val();
	var url			= "{$HOME}{$APPID}.ajax/del_cont";
	
	$('#cont_list').html('<p align=center><b><br>PLEASE WAIT ....</b><br><img src={$HOME}images/loadingbox.gif /></p>');
	
	$.post(url,{NO_CONT: $no_cont, NO_REQ : no_req_, NO_REQ2 : no_req2},function(data){
		console.log(data);
		if(data == "OK")
		{	
			alert("Delete Succeed");
		}
		$("#cont_list").load('<?=HOME?><?=APPID?>/cont_list?no_req={$row_request.NO_REQUEST}&overview=yes #list', function(data) {
				var no = '<?php echo count($row_list); ?>';				
				for(i=1;i<=no-1;i++){
					$("#TGL_APPROVE_"+i).datepicker();
					$("#TGL_APPROVE_"+i).datepicker( "option", "dateFormat", "yy-mm-dd" );				
				}
			}); 
	});	
}
//Date Picker
$(function() {	
	
	$( "#tgl_req_dev" ).datepicker();
	$( "#tgl_req_dev" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	$( "#TGL_EMPTY" ).datepicker();
	$( "#TGL_EMPTY" ).datepicker( "option", "dateFormat", "yy-mm-dd" );

	$( "#ID_TGL_MULAI" ).datepicker();
	$( "#ID_TGL_MULAI" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$("#ID_TGL_MULAI").val('{$row_request.TGL_AWAL_RFR}');

	$( "#ID_TGL_NANTI" ).datepicker();
	$( "#ID_TGL_NANTI" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$("#ID_TGL_NANTI").val('{$row_request.TGL_AKHIR_RFR}');

	$( "#TGL_REQ" ).datepicker();
	$( "#TGL_REQ" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	
	//$( "#TGL_SPPB" ).val('{$row_ict.TGL_SPPB}');
	$( "#TGL_SPPB" ).datepicker();
	$( "#TGL_SPPB" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	$( "#TGL_SPPB" ).val('{$row_ict.TGL_SPPB}');
	
});

function calculator(){
//	$.blockUI({ message: '<div id=\"divmsg\"><img src=\"images/cont_loading.gif\" /> <h2>Please wait..</h2></div>' ,css: {'color':'blue', 'height': '90px', 'margin-top': '100px', 'padding-top': '0px' }});
	$mulai = $('#ID_TGL_MULAI').val();
	$nanti = $('#ID_TGL_NANTI').val();
	$.post("{$HOME}<?=APPID?>/refcal/",{'mulai': $mulai, 'nanti':$nanti},function(data){
		//$.blockUI({ message: '<div id=\"divmsg\">'+data+'</div>' ,css: {'color':'blue', 'height': '90px', 'margin-top': '100px', 'padding-top': '0px' }});
		$('#id_SHIFT_RFR').val(data);
	});
}

function update_tgl_approve($no_cont, $tgl_approve, $asal_cont){
	//var tgl_approve = $("#TGL_APPROVE").val();
	//var no_cont = $("#no_cont").val();
	var no_req_ict_		= $("#NO_REQUEST2").val();
	var no_req_ict2_	= $("#NO_REQUEST3").val();
	var no_do			= $("#NO_DO").val();
	var no_bl			= $("#NO_BL").val();
	var no_booking_		= $("#NO_BOOKING").val();
	var sp2				= $("#SP2").val();
	var no_req 			= $("#no_req").val();
	var no_req_rec		= "{$row_request.NO_REQUEST_RECEIVING}";
	var no_req_del		= "{$row_request.NO_REQUEST_DELIVERY}";
	var url = '<?=HOME?><?=APPID?>/approve/';
	$.blockUI({ message: '<h1><br>Please wait...</h1><br><img src={$HOME}images/loadingbox.gif />' });
	$.post(url,{NO_REQ_REC : no_req_rec, NO_REQ_DEL : no_req_del, tgl_approve : $tgl_approve, no_cont : $no_cont, no_req : no_req, NO_REQ_ICT : no_req_ict_, NO_REQ_ICT2 : no_req_ict2_, NO_DO : no_do, NO_BL : no_bl, SP2 : sp2, NO_BOOKING : no_booking_, ASAL_CONT : $asal_cont }, function(data){
		if(data){
				$.unblockUI({ 
				onUnblock: function(){ alert('Container Approved'); } 
				});
				}
	});
}

function info_lapangan(){
	$("#dialog-form").load('<?=HOME?><?=APPID?>.info/info/');
	$("#dialog-form").dialog( "open" );
}
</script>
