<script type="text/javascript">
$(function() {
$("#datepicker_{$indexrow}").datepicker({ dateFormat: 'yy-mm-dd' });

});
</script>  
<?
$arrPost =$_POST;
$divIdName = $arrPost["divIdName"];
$num = $arrPost["num"];
$db = getDB();
?>

<td><input type="hidden" maxlength="11" size="" value="{$rowx.ID}" id="ID" name="ID[]"   />
<input type="text" maxlength="11" size="3" value="{$rowx.BAY}" id="BAY" name="BAY[]"   /></td>

<td>
	<!--<select name="CRANE[]" id="CRANE" style="width:80px; font-weight:bold" > 

              <option value="CC01">CC01</option>

              <option value="CC02">CC02</option>

              <option value="CC03">CC03</option>

              </select>
	-->
	<select name="CRANE[]" id="CRANE" style="width:120px">
			<option value="JC01">JIB CRANE 01</option>
			<option value="JC02">JIB CRANE 02</option>
	</select>
</td>
<td><select name="OPEN_CLOSE[]" style="width:80px">
<option value="OPEN">OPEN</option>
<option value="CLOSE">CLOSE</option>
</select></td>   
<td align="center"> 

<input type="text" maxlength="11" style="width:80px" size="14"  id="datepicker_{$indexrow}" onmouseover="tes(this.id);" onclick="tes(this.id);"  value="{$rowx.MOVE_TGL}"   name="MOVE_TGL[]" />
&nbsp;
<input type="text" maxlength="2" style="width:30px" size="1" value="00"   name="MOVE_JAM[]" />
:
<input type="text" maxlength="2" style="width:30px" size="1" value="00"   name="MOVE_MNT[]" />
</td>
<td><select name="OP_NAME[]" style="width:80px">
<option value="JAJANG">JAJANG</option> 
<option value="ANGGI">ANGGI</option>
</select></td>
<td><select name="OI[]" style="width:80px">
<option value="EI">OCEAN GOING</option> 
<option value="AP">INTER ISLAND</option>
</select></td>
<td><input type="text" maxlength="3" size="10" value="{$rowx.BOX}" id="BOX" name="BOX[]" /></td>
<td><img src="images/cont_del.gif" onmouseover="_hand(this)" onclick="removeRowEdit(this,'{$rowx.CONT_NO_BP}','{$rowx.BP_ID}','{$rowx.ARE_ID}')" border="0" title="Hapus" class="imid" /></td>

