<table class="cb" border='0' cellpadding="1" cellspacing="1"  width="100%" id="list_cont_print">
	<tr>
		<th class="grid-header">No.</th>	
		<th class="grid-header">No Container</th>
		<th class="grid-header">Size / Type / Status</th>
		<th class="grid-header">Hz</th>
		<th class="grid-header">Action</th>
	</tr>
	<? $A=1;?>
	<fill src="list" var="rows">
	<tr align="center">
		<tD>{$A}</tD>	
		<td>{$rows.ID_CONTAINER}</td>
		<td>{$rows.UKURAN}/{$rows.TYPE}/{$rows.STATUS}</td>
		<tD>{$rows.HZ}</td>
		<td><i><a href="<?=HOME?>request.delivery/delete_cont_print?id={$rows.ID_REQ}&nomor={$rows.ID_CONTAINER}"><img src="<?=HOME?>images/cont_red_delete.png" style="vertical-align:middle" height="10%" width="10%">delete</a></i></td>
	</tr>
	<? $A+=1;?>
	</fill>
	</table>