<div id="list">
	<table width="100%">
    	<thead>
        	<tr>
            	<th>No.</th>
            	<th>No Request</th>
                <th>Tanggal Request</th>
                <th>EMKL</th>
                <th>PEMILIK</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        	<fill src="row_list" var="rows">
		   	<alt var='bg' list='#f9f9f3,#ffe'/>
        	<tr bgcolor="{$bg}" style="cursor:pointer;">
            	<td>{$__ctr}</td>
            	<td>{$rows.NO_REQUEST}</td>
            	<td>{$rows.TGL_REQUEST}</td>
            	<td>{$rows.NAMA_EMKL}</td>
            	<td>{$rows.NAMA_PNMT}</td>
            	<td>
				<!-- <a href="{$HOME}{$APPID}/view?no_req={$rows.NO_REQUEST}"> LIHAT </a> -->
				<?php 
                    	cek_nota($rows["NO_REQUEST"]);
                ?>
				</td>
            </tr>
            </fill>
        </tbody>
    </table>
</div>