<div id="list">
<table class="grid-table" border='0' cellpadding="1" cellspacing="1"  width="100%" >
	  <tr style=" font-size:10pt">
		  <th width="2%" valign="top" class="grid-header"  style="font-size:8pt">No </th>
		  <th width="110" valign="top" class="grid-header"  style="font-size:8pt">NIPP</th>
		  <th width="110" valign="top" class="grid-header"  style="font-size:8pt">NAMA LENGKAP</th>
		  <th width="150" valign="top" class="grid-header"  style="font-size:8pt">USERNAME</th>
		   <th width="200" valign="top" class="grid-header"  style="font-size:8pt">KELAS</th> 
		  <th width="200" valign="top" class="grid-header"  style="font-size:8pt">JABATAN</th> 
		  <th width="200" valign="top" class="grid-header"  style="font-size:8pt">ROLE</th> 
		  <th valign="top" class="grid-header"  style="font-size:8pt"></th>  
		  <th valign="top" class="grid-header"  style="font-size:8pt"></th>  
	  </tr>
	  <fill src="row_user" var="rows">
	  <tr bgcolor="#f9f9f3" onMouseOver=this.style.backgroundColor="#BAD5FC" onMouseOut=this.style.backgroundColor="">
		  <td width="4%" align="center" valign="middle" class="grid-cell" style="color:#000; font-family:Arial; font-size:9pt">{$__ctr} </td>
		  <td width="15%" align="center" valign="middle" class="grid-cell"   style="font-size:9pt"><b>{$rows.NIPP}</b></td>
		  <td width="20%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt; font-size:11pt; color:#555555"><b>{$rows.NAMA_LENGKAP}</b></td>
		  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt">{$rows.USERNAME}</td>
		  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt;font-family:Arial;"><font color="#0066CC" style="font-size:10pt">{$rows.KELAS}</font></td>
		  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt">{$rows.JABATAN}</td>
		  <td width="15%" align="center" valign="middle" class="grid-cell"  style="font-size:9pt">{$rows.ROLE}</td>
		  <td width="20%" align="center" valign="middle" class="grid-cell" style="font-size:9pt;">
			 <a onclick="change_user('{$rows.ID}','{$rows.ID_ROLE}');"><img src='images/cont_edit.gif' border='0' />&nbsp; Change User </a>			 
		  </td>
		  <td width="20%" align="center" valign="middle" class="grid-cell" style="font-size:9pt;">
			 <a onclick="change_password('{$rows.ID}');"><img src='images/cont_edit.gif' border='0' />&nbsp; Change Password </a>			 
		  </td>
		  
	  </tr>
	  </fill>
</table>
</div>