<div id="list">
	<table width="100%">
    	<thead>
        	<tr>
            	<th class="grid-header" width="10px;">No.</th>
            	<th class="grid-header">No Request Relokasi</th>
                <th class="grid-header">Tanggal Request</th>
                <th class="grid-header">Yard Asal</th>
                <th class="grid-header">Yard Tujuan</th>
                <th class="grid-header">Jumlah Box</th>
                <th class="grid-header"></th>
            </tr>
        </thead>
        <tbody>
        	<fill src="row_list" var="rows">
		   	<alt var='bg' list='#f9f9f3,#ffe'/>
        	<tr align="left" bgcolor="{$bg}" style="cursor:pointer;" onMouseOver=this.style.backgroundColor="#BAD5FC" onMouseOut=this.style.backgroundColor="">
            	<td class="grid-cell" style="font-size:14px;">{$__ctr}</td>
            	<td class="grid-cell" align="left" valign="middle" style="font-family:Arial; font-size:11pt; color:#555555"><b>{$rows.NO_REQUEST}</b></td>
            	<td class="grid-cell" align="left" valign="middle" style="font-family:Arial; font-size:11pt; color:#555555"><b>{$rows.TGL_REQUEST}</b></td>            	
                <td align="center" valign="middle" class="grid-cell"  style="font-size:9pt"><b>{$rows.YARD_ASAL}</b></td>
                <td align="center" valign="middle" class="grid-cell"  style="font-size:9pt"><b>{$rows.YARD_TUJUAN}</b></td>
            	<td align="center" valign="middle" class="grid-cell"  style="font-size:10pt;font-family:Arial; color:#0066CC; font-weight:800;">{$rows.BOX}</td>            	
            	<td class="grid-cell" style="font-size:14px;">
				<!-- <a href="{$HOME}{$APPID}/view?no_req={$rows.NO_REQUEST}"> LIHAT </a> -->
				<?php
                    	cek_cetak($rows["NO_REQUEST"]);
                ?>
				</td>
            </tr>
            </fill>
        </tbody>
    </table>
</div>