
<div>
<table border=1 width="100%">
	<tr>
		<th class="grid-header"  style="font-size:8pt">No.</th>
		<th class="grid-header"  style="font-size:8pt"></th>
		<th class="grid-header"  style="font-size:8pt">{$tanggal.H}</th>
		<th class="grid-header"  style="font-size:8pt">{$tanggal.H_1}</th>
		<th class="grid-header"  style="font-size:8pt">{$tanggal.H_2}</th>
		<th class="grid-header"  style="font-size:8pt">{$tanggal.H_3}</th>
	</tr>
	<fill src='row' var='row'>
		<tr>
			<td class="grid-cell"  style="font-size:8pt">{$row.NO}</td>
			<td class="grid-cell"  style="font-size:8pt">{$row.KEGIATAN}</td>
			<td class="grid-cell"  style="font-size:8pt">{$row.H}</td>
			<td class="grid-cell"  style="font-size:8pt">{$row.H1}</td>
			<td class="grid-cell"  style="font-size:8pt">{$row.H2}</td>
			<td class="grid-cell"  style="font-size:8pt">{$row.H3}</td>
		</tr>
	</fill>
	
</table>
</div>